USE [UMS]
GO
/****** Object:  StoredProcedure [dbo].[SP_ChangeDoctorPassword]    Script Date: 5/9/2026 10:28:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_ChangeDoctorPassword]
@DoctorID int,
@OldPassword nvarchar(255),
@NewPassword nvarchar(255)

AS 
Begin

Begin Try

Update Doctors
Set Password = @NewPassword
Where DoctorID = @DoctorID And Password = @OldPassword

End Try

Begin Catch
Throw
End Catch

End
GO
