USE [UMS]
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateRegistrationStudentAppType]    Script Date: 7/6/2026 3:50:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_UpdateRegistrationStudentAppType]

@RegistrationStudentApplicationTypeID int,
@RegistrationStudentAppTypeTitle nvarchar(250)

As

Begin

Begin Try
Update RegistrationStudentApplicationTypes Set RegistrationStudentApplicationTypeTitle = @RegistrationStudentAppTypeTitle
Where RegistrationStudentApplicationTypeID = @RegistrationStudentApplicationTypeID
return @@RowCount
End Try

Begin Catch 
THROW
End Catch

End
GO
