USE [UMS]
GO
/****** Object:  StoredProcedure [dbo].[SP_DeleteLecture]    Script Date: 5/9/2026 10:28:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_DeleteLecture]

@LectureID int

AS

Begin

Begin Try

Delete Lectures Where LectureID = @LectureID

End Try

Begin Catch
Throw
End Catch

End
GO
