USE [UMS]
GO
/****** Object:  StoredProcedure [dbo].[SP_IsApplicationExist]    Script Date: 5/9/2026 10:28:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_IsApplicationExist]

@AppId int

AS 

Begin

Begin Try

Select Found = 1 From Applications where ApplicationID = @AppId

End Try

Begin Catch
Throw
End Catch

End
GO
