USE [UMS]
GO
/****** Object:  StoredProcedure [dbo].[SP_GetStudentSemesterCaseInfoByID]    Script Date: 5/9/2026 10:28:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_GetStudentSemesterCaseInfoByID]

@StudentSemesterCaseID int

AS

Begin

Begin Try
Select * From StudentSemesterCases Where StudentSemesterCaseID = @StudentSemesterCaseID
End Try

Begin Catch
Throw
End Catch

End
GO
