USE [UMS]
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllDepartments]    Script Date: 7/6/2026 3:50:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_GetAllDepartments]

AS
Begin

Begin Try
Select * From Departments
End Try

Begin Catch
THrow
End Catch

End
GO
