USE [UMS]
GO
/****** Object:  StoredProcedure [dbo].[SP_DeleteAdmin]    Script Date: 5/9/2026 10:28:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_DeleteAdmin]

@AdminID int

AS
Begin
Begin Try
	Delete Admins Where AdminID = @AdminID
	return @@RowCount
End Try

Begin Catch 
	Throw
End Catch
End
GO
