USE [UMS]
GO
/****** Object:  StoredProcedure [dbo].[SP_Phone_GetAll]    Script Date: 7/6/2026 3:50:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_Phone_GetAll]

AS
BEGIN
    SET NOCOUNT ON;

    Select PhoneId,PhoneNumber,PersonId  
	From Phones 
	Order By PhoneId DESC
END

GO
