USE [UMS]
GO
/****** Object:  StoredProcedure [dbo].[SP_DeleteCollege]    Script Date: 7/6/2026 3:50:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_DeleteCollege]

@CollegeID int

AS
Begin

Begin Try
Delete Colleges Where CollegeID = @CollegeID
End Try

Begin Catch
THrow
End Catch

End
GO
