USE [UMS]
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateSemesterMaterial]    Script Date: 5/9/2026 10:28:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[SP_UpdateSemesterMaterial]

@SemesterMaterialID int,
@CourseID int,
@DoctorID int,
@BrancheID int,
@RoomID int,
@AnnualSemesterID int,
@Year smallint,
@CourseStatus tinyint,
@LastModifiedDate datetime = Null,
@ModifiedByDoctorID int = Null

AS

Begin

Begin Try

Update SemesterMaterials 
Set CourseID = @CourseID,DoctorID = @DoctorID,BrancheID = @BrancheID,RoomID = @RoomID,AnnualSemesterID = @AnnualSemesterID,Year = @Year,
CourseStatus = @CourseStatus,LastModifiedDate = IsNull(@LastModifiedDate,LastModifiedDate),
ModifiedByDoctorID = IsNull(@ModifiedByDoctorID,ModifiedByDoctorID)
Where SemesterMaterialID = @SemesterMaterialID
return @@RowCount
End Try

Begin Catch
Throw
End Catch

End
GO
