USE [UMS]
GO
/****** Object:  StoredProcedure [dbo].[SP_GetProgramTypeInfoByID]    Script Date: 5/9/2026 10:28:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_GetProgramTypeInfoByID]
@ProgramTypeID int

AS
Begin

Begin Try
Select * From ProgramTypes Where ProgramTypeID = @ProgramTypeID
End Try

Begin Catch
THrow
End Catch

End
GO
