USE [UMS]
GO
/****** Object:  StoredProcedure [dbo].[SP_GetStudentInfoByPersonID]    Script Date: 5/9/2026 10:28:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_GetStudentInfoByPersonID]

@PersonID int

AS
Begin

Begin Try

Select * From Students Where PersonID = @PersonID

End Try

Begin Catch
THROW
End Catch

End
GO
