USE [UMS]
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateApplication]    Script Date: 5/9/2026 10:28:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[SP_UpdateApplication]

@ApplicationID int,
@AppTypeID int,
@AppStatus tinyint,
@PaidFees smallmoney,
@LastStatusDate datetime

AS

Begin

Begin Try

Update Applications Set ApplicationTypeID = @AppTypeID, ApplicationStatus = @AppStatus, PaidFees = @PaidFees, LastStatusDate = @LastStatusDate
Where ApplicationID = @ApplicationID
return @@RowCount

End Try

Begin Catch
Throw
End Catch

End
GO
