USE [UMS]
GO
/****** Object:  StoredProcedure [dbo].[SP_AddNewRegistrationStudentApplication]    Script Date: 5/9/2026 10:28:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_AddNewRegistrationStudentApplication]

@ApplicationID int,
@CollegeID int,
@DepartmentID int,
@ProgramTypeID int,
@PayMainFees bit = Null,
@PayCollegeFees bit = Null,
@PayDepartmentFees bit = Null,
@PayApplicationFees bit = Null,
@RegistrationDate datetime,
@RegistrationStudentAppTypeID int

AS

Begin 

Begin Try

Insert Into RegistrationStudentApplications (ApplicationID,CollegeID,DepartmentID,ProgramTypeID,PayMainFees,PayCollegeFees,PayDepartmentFees,
PayApplicationFees,RegistrationDate,RegistrationStudentAppTypeID)

Values (@ApplicationID,@CollegeID,@DepartmentID,@ProgramTypeID,ISNULL(@PayMainFees,NULL),ISNULL(@PayCollegeFees,NULL),ISNULL(@PayDepartmentFees,NULL),
ISNULL(@PayApplicationFees,NULL),@RegistrationDate,@RegistrationStudentAppTypeID)

Select SCOPE_IDENTITY() AS NewRegistrationStudentApplication

End Try

Begin Catch
THROW
End Catch

End
GO
