USE [UMS]
GO
/****** Object:  StoredProcedure [dbo].[SP_GetDepartmentInfoByID]    Script Date: 7/6/2026 3:50:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_GetDepartmentInfoByID]
@DepartmentID int
AS
Begin

Begin Try
Select * From Departments Where DepartmentID = @DepartmentID
End Try

Begin Catch
THrow
End Catch

End
GO
