USE [UMS]
GO
/****** Object:  StoredProcedure [dbo].[SP_AddNewExamSchedule]    Script Date: 5/9/2026 10:28:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create Procedure [dbo].[SP_AddNewExamSchedule]

@ExamTypeId int,
@SemesterMaterialId int,
@ExamDate datetime2(0),
@RoomId int,
@CreatedByUserId int,
@BranchId int = NULL,	
@MaxMark decimal(5,2),	
@DurationMinutes smallint,	
@RetakeExamScheduleId int = NULL,	
@Status tinyint

AS 

Begin

SET NOCOUNT ON;

Begin Try

Insert Into ExamSchedules(ExamTypeId,SemesterMaterialId,ExamDate,RoomId,CreatedByUserId,BranchId,MaxMark,DurationMinutes,RetakeExamScheduleId,Status)

Values(@ExamTypeId,@SemesterMaterialId,@ExamDate,@RoomId,@CreatedByUserId,@BranchId,@MaxMark,@DurationMinutes,@RetakeExamScheduleId,@Status)

Select SCOPE_IDENTITY() AS NewExamScheduleId

End Try

Begin Catch
Throw
End Catch

End
GO
