USE [UMS]
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateAddress]    Script Date: 5/9/2026 10:28:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_UpdateAddress]

@AddressID int,
@Address nvarchar(500)

AS
Begin

Begin Try

Update Addresses Set Address = @Address
Where AddressID = @AddressID

End Try

Begin Catch
Throw
End Catch

End
GO
