USE [UMS]
GO
/****** Object:  StoredProcedure [dbo].[SP_Person_GetByNationalNo]    Script Date: 7/6/2026 3:50:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_Person_GetByNationalNo]
(
    @NationalNo Varchar(20)
)
AS
BEGIN
    SET NOCOUNT ON;

	Select PersonId,NationalNo,FirstName,SecondName,ThirdName,LastName,DateOfBirth,Gendor,Email,
		   NationalityCountryId,ImagePath,CreatedAt,UpdatedAt,CreatedByUserId,UpdatedByUserId,IsActive 
	From People 
	Where NationalNo = @NationalNo
END

GO
