USE [UMS]
GO
/****** Object:  StoredProcedure [dbo].[SP_Phone_GetByPhoneNumber]    Script Date: 7/6/2026 3:50:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_Phone_GetByPhoneNumber]
(
    @PhoneNumber varchar(20)
)
AS
BEGIN
    SET NOCOUNT ON;

	Select PhoneId,PhoneNumber,PersonId 
	From Phones  
	Where PhoneNumber = @PhoneNumber
END

GO
