USE [UMS]
GO
/****** Object:  StoredProcedure [dbo].[SP_GetStudentInfoByStudentID]    Script Date: 5/9/2026 10:28:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_GetStudentInfoByStudentID]

@StudentID int

AS
Begin

Begin Try

Select * From Students Where StudentID = @StudentID

End Try

Begin Catch
THROW
End Catch

End
GO
