USE [UMS]
GO
/****** Object:  StoredProcedure [dbo].[SP_DeleteRegistrationStudentAppType]    Script Date: 7/6/2026 3:50:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_DeleteRegistrationStudentAppType]

@RegistrationStudentApplicationTypeID int

As

Begin

Begin Try
Delete RegistrationStudentApplicationTypes Where RegistrationStudentApplicationTypeID = @RegistrationStudentApplicationTypeID
End Try

Begin Catch 
THROW
End Catch

End
GO
