USE [UMS]
GO
/****** Object:  StoredProcedure [dbo].[SP_GetRegistrationStudentAppByCollegeID]    Script Date: 5/9/2026 10:28:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_GetRegistrationStudentAppByCollegeID]

@CollegeID int

AS

Begin

Begin Try

Select * From RegistrationStudentApplications Where CollegeID = @CollegeID

End Try

Begin Catch
Throw
End Catch

End
GO
