USE [UMS]
GO
/****** Object:  StoredProcedure [dbo].[SP_AddNewAnnualSemester]    Script Date: 5/9/2026 10:28:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[SP_AddNewAnnualSemester]

@SemesterName varchar(25)
AS

Begin

SET NOCOUNT ON;

Begin Try
Insert Into AnnualSemesters(SemesterName) Values(@SemesterName)
Select SCOPE_IDENTITY() AS NewAnnualSemesterId
End Try

Begin Catch
Throw
End Catch

End
GO
