USE [UMS]
GO
/****** Object:  StoredProcedure [dbo].[SP_AddNewPhoneNumber]    Script Date: 5/9/2026 10:28:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[SP_AddNewPhoneNumber]

@PhoneNumber varchar(20),
@PersonId int

AS

Begin

SET NOCOUNT ON;

Begin Try

Insert Into Phones (PhoneNumber,PersonId)
Values (@PhoneNumber,@PersonId)
Select SCOPE_IDENTITY() AS NewPhoneId

End Try

Begin Catch
Throw
End Catch

End
GO
