USE [UMS]
GO
/****** Object:  StoredProcedure [dbo].[SP_SetAdminPermissionLevel]    Script Date: 5/9/2026 10:28:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_SetAdminPermissionLevel]
@AdminID int,
@PermissionLevel tinyint
AS
Begin

Begin Try

IF Exists(Select 1 From Admins Where AdminID = @AdminID)
Begin
	Update Admins Set PermissionLevel = @PermissionLevel
	Where AdminID = @AdminID
End

End Try

Begin Catch
Throw
End Catch

End
GO
