USE [UMS]
GO
/****** Object:  StoredProcedure [dbo].[SP_Country_GetById]    Script Date: 7/6/2026 3:50:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_Country_GetById]
(
    @CountryId int
)
AS
BEGIN
    SET NOCOUNT ON;

    Select CountryId,CountryName 
	From Countries 
	Where CountryId = @CountryId
END
GO
