USE [UMS]
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateMaterialTestAppointment]    Script Date: 7/6/2026 3:50:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_UpdateMaterialTestAppointment]

@TestAppointmentID int,
@TestTypeID int,
@SemesterMaterialID int,
@AppointmentDate datetime, 
@RoomID int,
@LastModifiedDate datetime = Null, 
@ModifiedByDoctorID int

AS 

Begin

Begin Try

Update MaterialTestAppointments

Set TestTypeID = @TestTypeID, SemesterMaterialID = @SemesterMaterialID, AppointmentDate = @AppointmentDate, RoomID = @RoomID, 
LastModifiedDate = ISNULL(@LastModifiedDate,LastModifiedDate), ModifiedByDoctorID = @ModifiedByDoctorID

Where TestAppointmentID = @TestAppointmentID
return @@RowCount

End Try

Begin Catch
Throw
End Catch

End
GO
