USE [UMS]
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdatePhoneNumber]    Script Date: 5/9/2026 10:28:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_UpdatePhoneNumber]

@PhoneID int,
@PhoneNumber varchar(10)

AS

Begin

Begin Try

Update Phones Set PhoneNumber = @PhoneNumber Where PhoneID = @PhoneID
return @@RowCount

End Try

Begin Catch
Throw
End Catch

End
GO
