USE [UMS]
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateDepartment]    Script Date: 7/6/2026 3:50:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_UpdateDepartment]

@DepartmentID int,
@DepartmentName nvarchar(100),
@CreditHours tinyint

AS
Begin

Begin Try
Update Departments Set DepartmentName = @DepartmentName, CreditHours = @CreditHours Where DepartmentID = @DepartmentID
End Try

Begin Catch
THrow
End Catch

End
GO
