USE [UMS]
GO
/****** Object:  StoredProcedure [dbo].[SP_DeleteRegistrationStudentApplication]    Script Date: 7/6/2026 3:50:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_DeleteRegistrationStudentApplication]

@RegistrationStudentApplicationID int

AS

Begin 

Begin Try

Delete RegistrationStudentApplications Where RegistrationStudentApplicationID = @RegistrationStudentApplicationID

End Try

Begin Catch
THROW
End Catch

End
GO
