USE [UMS]
GO
/****** Object:  StoredProcedure [dbo].[SP_Person_ExistsById]    Script Date: 7/6/2026 3:50:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_Person_ExistsById]
(
    @PersonId int,
	@Result BIT OUTPUT
)
AS
BEGIN
    SET NOCOUNT ON;

	SET @Result = 
	CASE
		WHEN EXISTS(
		Select 1 From People 
		Where PersonId = @PersonId
		)
		THEN 1
		ELSE 0
	END;
END

GO
