USE [UMS]
GO
/****** Object:  StoredProcedure [dbo].[SP_GetCountryInfoByID]    Script Date: 5/9/2026 10:28:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[SP_GetCountryInfoByID]
@CountryID int

AS
Begin

Begin Try
Select * From Countries Where CountryID = @CountryID
End Try

Begin Catch
Throw
End Catch

End
GO
