USE [UMS]
GO
/****** Object:  StoredProcedure [dbo].[SP_AddNewProgramType]    Script Date: 5/9/2026 10:28:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_AddNewProgramType]
@ProgramTypeName nvarchar(50)

AS
Begin

Begin Try
Insert Into ProgramTypes(ProgramTypeName) Values(@ProgramTypeName)
Select SCOPE_IDENTITY() AS NewProgramTypeID
End Try

Begin Catch
THrow
End Catch

End
GO
