USE [UMS]
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAnnualSemesterInfoByID]    Script Date: 7/6/2026 3:50:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_GetAnnualSemesterInfoByID]

@AnnualSemesterID int

AS

Begin

Begin Try
Select * From AnnualSemesters Where AnnualSemesterID = @AnnualSemesterID
End Try

Begin Catch
Throw
End Catch

End
GO
