USE [UMS]
GO
/****** Object:  StoredProcedure [dbo].[SP_AddNewTestType]    Script Date: 5/9/2026 10:28:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_AddNewTestType]

@TestTypeTilte nvarchar(30),
@TestMark tinyint

AS

Begin

Begin Try
Insert Into TestTypes (TestTypeTilte,TestMark) Values(@TestTypeTilte,@TestMark)
Select SCOPE_IDENTITY() AS NewTestTypeID
End Try

Begin Catch
Throw
End Catch

End
GO
