USE [UMS]
GO
/****** Object:  StoredProcedure [dbo].[SP_AddNewDepartment]    Script Date: 7/6/2026 3:50:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[SP_AddNewDepartment]

@DepartmentName	nvarchar(100),
@CollegeId int,	
@CreditHours smallint

AS
Begin

SET NOCOUNT ON;

Begin Try
Insert Into Departments (DepartmentName,CollegeId,CreditHours) 
Values(@DepartmentName,@CollegeId,@CreditHours)
Select SCOPE_IDENTITY() AS NewDepartmentId
End Try

Begin Catch
THrow
End Catch

End
GO
