USE [UMS]
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateStudent]    Script Date: 7/6/2026 3:50:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[SP_UpdateStudent]

@StudentID int,
@PersonID int,
@RegistrationStudentApplicationID int,
@RankID int,
@StudentStatus tinyint,
@CreditBalance smallmoney,
@DebitBalance smallmoney,
@SpecializationHours tinyint,
@PassedHours tinyint,
@CumulativeAverage float,
@CreatedByAdminID int,
@IsActive bit,
@CreatedDate datetime,
@LastStatusDate datetime

AS
Begin

Begin Try

Update Students Set PersonID = @PersonID, RegistrationStudentApplicationID = @RegistrationStudentApplicationID, RankID = @RankID, StudentStatus = @StudentStatus,
CreditBalance = @CreditBalance, DebitBalance = @DebitBalance, SpecializationHours = @SpecializationHours, PassedHours = @PassedHours, 
CumulativeAverage = @CumulativeAverage, CreatedByAdminID = @CreatedByAdminID, IsActive = @IsActive, CreatedDate = @CreatedDate, 
LastStatusDate = @LastStatusDate

Where StudentID = @StudentID
Return @@RowCount

End Try

Begin Catch
THROW
End Catch

End
GO
