USE [UMS]
GO
/****** Object:  StoredProcedure [dbo].[SP_Person_Delete]    Script Date: 7/6/2026 3:50:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_Person_Delete]
(
    @PersonId int,
	@Result INT OUTPUT
)
AS
BEGIN
    SET NOCOUNT ON;

	Delete From People 
	Where PersonId = @PersonId

	IF @@ROWCOUNT = 0
	BEGIN
		SET @Result = 0; -- Not Found
		Return;
	END
	SET @Result = 1; -- Deleted Successfully
END

GO
