USE [UMS]
GO
/****** Object:  StoredProcedure [dbo].[SP_AddNewExamResult]    Script Date: 7/6/2026 3:50:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create Procedure [dbo].[SP_AddNewExamResult]

@ExamScheduleId int,
@StudentId int,
@StudentMark decimal(5,2),
@CreatedByUserId int,
@Status tinyint

AS 

Begin

SET NOCOUNT ON;

Begin Try

Insert Into ExamResults (ExamScheduleId,StudentId,StudentMark,CreatedByUserId,Status)
Values(@ExamScheduleId,@StudentId,@StudentMark,@CreatedByUserId,@Status )
Select SCOPE_IDENTITY() AS NewExamResultId

End Try

Begin Catch
Throw
End Catch

End
GO
