USE [UMS]
GO
/****** Object:  StoredProcedure [dbo].[SP_AddNewLecture]    Script Date: 7/6/2026 3:50:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[SP_AddNewLecture]

@BranchId int,
@LectureDateTime datetime2(0),
@Status tinyint

AS

Begin

SET NOCOUNT ON;

Begin Try

Insert Into Lectures(BranchId,LectureDateTime,Status)
Values(@BranchId,@LectureDateTime,@Status)
Select SCOPE_IDENTITY() AS NewLectureId

End Try

Begin Catch
Throw
End Catch
End
GO
