USE [UMS]
GO
/****** Object:  StoredProcedure [dbo].[SP_AddNewDoctor]    Script Date: 7/6/2026 3:50:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[SP_AddNewDoctor]

@PersonId int,
@CollegeId int,
@DepartmentId int,
@Status tinyint,
@CreatedByUserId int,
@RankId int,
@CurrentScore decimal(5,2) = NULL,
@SpecializationId int

AS
Begin

SET NOCOUNT ON;

Begin Try

Insert Into Doctors(PersonId,CollegeId,DepartmentId,Status,CreatedByUserId,RankId,CurrentScore,SpecializationId)
Values(@PersonId,@CollegeId,@DepartmentId,@Status,@CreatedByUserId,@RankId,@CurrentScore,@SpecializationId)

SELECT SCOPE_IDENTITY() AS NewDoctorId;

End Try

Begin Catch
THROW
End Catch

End
GO
