USE [UMS]
GO
/****** Object:  StoredProcedure [dbo].[SP_GetMaterialTestResultInfoByID]    Script Date: 5/9/2026 10:28:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_GetMaterialTestResultInfoByID]

@TestResultID int

AS 

Begin

Begin Try

Select * From MaterialTestResults where TestResultID = @TestResultID

End Try

Begin Catch
Throw
End Catch

End
GO
