USE [UMS]
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateCollege]    Script Date: 7/6/2026 3:50:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_UpdateCollege]

@CollegeID int,
@CollegeName nvarchar(100)

AS
Begin

Begin Try
Update Colleges Set CollegeName = @CollegeName Where CollegeID = @CollegeID
End Try

Begin Catch
THrow
End Catch

End
GO
