USE [UMS]
GO
/****** Object:  StoredProcedure [dbo].[SP_Phone_GetByPersonId]    Script Date: 7/6/2026 3:50:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_Phone_GetByPersonId]
(
    @PersonId int
)
AS
BEGIN
    SET NOCOUNT ON;

	Select PhoneId,PhoneNumber,PersonId  
	From Phones 
	Where PersonId = @PersonId
	Order By PhoneId DESC
END

GO
