USE [UMS]
GO
/****** Object:  StoredProcedure [dbo].[SP_GetGraduateStudentInfoByID]    Script Date: 7/6/2026 3:50:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_GetGraduateStudentInfoByID]

@GraduateStudentID int

As

Begin

Begin Try
Select * From GraduateStudents Where GraduateStudentID = @GraduateStudentID
End Try

Begin Catch
Throw
End Catch

End
GO
