USE [UMS]
GO
/****** Object:  StoredProcedure [dbo].[SP_DeleteStudentRank]    Script Date: 7/6/2026 3:50:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_DeleteStudentRank]

@RankID int

AS
Begin

Begin Try
Delete StudentRanks Where RankID = @RankID
End Try

Begin Catch
Throw
End Catch

End
GO
