USE [UMS]
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateRoom]    Script Date: 5/9/2026 10:28:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_UpdateRoom]

@RoomID int,
@RoomName nvarchar(50) = null,
@CollegeID int,
@NumberOfSeats tinyint

AS

Begin

Begin Try
Update Rooms Set RoomName = @RoomName, CollegeID = @CollegeID, NumberOfSeats = @NumberOfSeats Where RoomID = @RoomID
End Try

Begin Catch
Throw
End Catch

End
GO
