USE [UMS]
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateLecture]    Script Date: 5/9/2026 10:28:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_UpdateLecture]

@LectureID int,
@IsStudentAttended bit,
@LectureDateTime datetime = Null

AS

Begin

Begin Try

Update Lectures Set IsStudentAttended = @IsStudentAttended,LectureDateTime = IsNull(@LectureDateTime,LectureDateTime)
Where LectureID = @LectureID
return @@RowCount

End Try

Begin Catch
Throw
End Catch
End
GO
