USE [UMS]
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateStudentSemesterMaterial]    Script Date: 5/9/2026 10:28:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[SP_UpdateStudentSemesterMaterial]

@StudentSemesterMaterialID int,
@SemesterMaterialID int,
@StudentID int,
@RegistrationDate DateTime,
@Status tinyint,
@FinalMark float = Null

AS

Begin

Begin Try

Update StudentSemesterMaterials Set SemesterMaterialID = @SemesterMaterialID,StudentID = @StudentID,RegistrationDate = @RegistrationDate,
Status = @Status, FinalMark = IsNull(@FinalMark,FinalMark)
Where StudentSemesterMaterialID = @StudentSemesterMaterialID
return @@RowCount
End Try

Begin Catch
Throw
End Catch

End
GO
