USE [UMS]
GO
/****** Object:  StoredProcedure [dbo].[SP_AddNewStudentSemesterMaterial]    Script Date: 5/9/2026 10:28:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_AddNewStudentSemesterMaterial]

@SemesterMaterialID int,
@StudentID int,
@RegistrationDate DateTime,
@Status tinyint,
@FinalMark float = Null

AS

Begin

Begin Try
Insert Into StudentSemesterMaterials(SemesterMaterialID,StudentID,RegistrationDate,Status,FinalMark)
values(@SemesterMaterialID,@StudentID,@RegistrationDate,@Status,IsNull(@FinalMark,Null))
Select SCOPE_IDENTITY() AS NewSemesterMaterial
End Try

Begin Catch
Throw
End Catch

End
GO
