USE [UMS]
GO
/****** Object:  StoredProcedure [dbo].[SP_GetPostponementStudyAppInfoByID]    Script Date: 7/6/2026 3:50:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_GetPostponementStudyAppInfoByID]

@PostponementApplicationID int

AS

Begin

Begin Try

Select * From PostponementStudyApplications Where PostponementApplicationID = @PostponementApplicationID 

End Try

Begin Catch
Throw
End Catch

End
GO
