USE [UMS]
GO
/****** Object:  StoredProcedure [dbo].[SP_Phone_Add]    Script Date: 7/6/2026 3:50:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_Phone_Add]
(
    @PhoneNumber varchar(20),
	@PersonId int
)
AS
BEGIN
    SET NOCOUNT ON;

	Insert Into Phones (PhoneNumber,PersonId)
	Values (@PhoneNumber,@PersonId)
	Select CAST(SCOPE_IDENTITY() AS INT) AS NewPhoneId
END

GO
