USE [UMS]
GO
/****** Object:  StoredProcedure [dbo].[SP_AddNewCollege]    Script Date: 7/6/2026 3:50:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[SP_AddNewCollege]
@CollegeName nvarchar(100)

AS

Begin

SET NOCOUNT ON;

Begin Try
Insert Into Colleges(CollegeName) Values(@CollegeName)
Select SCOPE_IDENTITY() AS NewCollegeId
End Try

Begin Catch
Throw
End Catch
End
GO
