USE [UMS]
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAddressByID]    Script Date: 5/9/2026 10:28:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_GetAddressByID]
@AddressID int

AS
Begin

Begin Try
Select * From Addresses Where AddressID = @AddressID
End Try

Begin Catch
Throw
End Catch

End
GO
