USE [UMS]
GO
/****** Object:  StoredProcedure [dbo].[SP_GetPhoneInfoByPhoneNumber]    Script Date: 5/9/2026 10:28:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_GetPhoneInfoByPhoneNumber]
@PhoneNumber varchar(10)

AS
Begin

Begin Try
Select * From Phones Where PhoneNumber = @PhoneNumber
End Try

Begin Catch
Throw
End Catch

End
GO
