USE [UMS]
GO
/****** Object:  StoredProcedure [dbo].[SP_GetRegistrationStudentAppByProgramTypeID]    Script Date: 7/6/2026 3:50:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_GetRegistrationStudentAppByProgramTypeID]

@ProgramTypeID int

AS

Begin

Begin Try

Select * From RegistrationStudentApplications Where ProgramTypeID = @ProgramTypeID

End Try

Begin Catch
Throw
End Catch

End
GO
