USE [UMS]
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllMaterialTestResults]    Script Date: 7/6/2026 3:50:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_GetAllMaterialTestResults]

AS 

Begin

Begin Try

Select * From MaterialTestResults

End Try

Begin Catch
Throw
End Catch

End
GO
