USE [UMS]
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateAdmin]    Script Date: 5/9/2026 10:28:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[SP_UpdateAdmin]

@AdminID int,
@PersonID int,
@AdminName nvarchar(50),
@PermissionLevel tinyint,
@IsActive bit,
@CreatedDate datetime,
@CreatedByAdminID int,
@LastStatusDate datetime

AS
Begin
Begin Try
	Update Admins 
	Set PersonID = @PersonID, AdminName = @AdminName, PermissionLevel = @PermissionLevel, IsActive = @IsActive, CreatedDate = @CreatedDate,
	CreatedByAdminID = @CreatedByAdminID, LastStatusDate = @LastStatusDate
	Where AdminID = @AdminID
	return @@RowCount
End Try

Begin Catch 
	Throw
End Catch
End
GO
