USE [UMS]
GO
/****** Object:  StoredProcedure [dbo].[SP_ChangeAdminPassword]    Script Date: 7/6/2026 3:50:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[SP_ChangeAdminPassword]
@AdminID int,
@OldPassword nvarchar(255),
@NewPassword nvarchar(255)
AS
Begin

Begin Try

Update Admins Set Password = @NewPassword
Where AdminID = @AdminID And Password = @OldPassword

End Try

Begin Catch
Throw
End Catch

End
GO
