USE [UMS]
GO
/****** Object:  StoredProcedure [dbo].[SP_DoesPersonHaveActiveApplication]    Script Date: 7/6/2026 3:50:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_DoesPersonHaveActiveApplication]

@PersonId int

AS 

Begin

Begin Try

Select Found = 1 From Applications where ApplicantPersonID = @PersonId

End Try

Begin Catch
Throw
End Catch

End
GO
