USE [UMS]
GO
/****** Object:  StoredProcedure [dbo].[SP_IsStudentExistByStudentID]    Script Date: 5/9/2026 10:28:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_IsStudentExistByStudentID]

@StudentID int

AS
Begin

Begin Try

Select Found = 1 From Students Where StudentID = @StudentID

End Try

Begin Catch
THROW
End Catch

End

--Select * From Applications
GO
