USE [UMS]
GO
/****** Object:  StoredProcedure [dbo].[SP_Phone_Update]    Script Date: 7/6/2026 3:50:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_Phone_Update]
(
    @PhoneId int,
	@PhoneNumber varchar(20),
	@Result INT OUTPUT
)
AS
BEGIN
    SET NOCOUNT ON;

	Update Phones 
	Set PhoneNumber = @PhoneNumber 
	Where PhoneId = @PhoneId

	IF @@RowCount = 0
	BEGIN
		SET @Result = 0
		RETURN
	END
	SET @Result = 1
END

GO
