USE [UMS]
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateRegistrationStudentApplication]    Script Date: 5/9/2026 10:28:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_UpdateRegistrationStudentApplication]

@RegistrationStudentApplicationID int,
@CollegeID int,
@DepartmentID int,
@ProgramTypeID int,
@PayMainFees bit = Null,
@PayCollegeFees bit = Null,
@PayDepartmentFees bit = Null,
@PayApplicationFees bit = Null,
@RegistrationDate datetime,
@RegistrationStudentAppTypeID int

AS

Begin 

Begin Try

Update RegistrationStudentApplications

Set CollegeID = @CollegeID, DepartmentID = @DepartmentID, ProgramTypeID = @ProgramTypeID, 
PayMainFees = ISNULL(@PayMainFees,PayMainFees), PayCollegeFees = ISNULL(@PayCollegeFees,PayCollegeFees),
PayDepartmentFees = ISNULL(@PayDepartmentFees,PayDepartmentFees), PayApplicationFees = ISNULL(@PayApplicationFees,PayApplicationFees), 
RegistrationDate = @RegistrationDate, 
RegistrationStudentAppTypeID = @RegistrationStudentAppTypeID

Where RegistrationStudentApplicationID = @RegistrationStudentApplicationID
return @@RowCount

End Try

Begin Catch
THROW
End Catch

End
GO
