USE [UMS]
GO
/****** Object:  StoredProcedure [dbo].[SP_DeactivateDoctorAccount]    Script Date: 7/6/2026 3:50:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[SP_DeactivateDoctorAccount]
@DoctorID int,
@IsActive bit

AS 
Begin

Begin Try

Update Doctors
Set IsActive = @IsActive
Where DoctorID = @DoctorID

IF @@RowCount = 0
Throw 50000, 'Doctor not found', 1

End Try

Begin Catch
Throw
End Catch

End
GO
