USE [UMS]
GO
/****** Object:  StoredProcedure [dbo].[SP_AddNewApplication]    Script Date: 7/6/2026 3:50:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[SP_AddNewApplication]

@ApplicantPersonId int,
@AppTypeId int,
@Status tinyint,
@CreatedByUserId int

AS

Begin

SET NOCOUNT ON;

Begin Try

Insert Into Applications(ApplicantPersonId,ApplicationTypeId,Status,CreatedByUserId)
Values(@ApplicantPersonId,@AppTypeId,@Status,@CreatedByUserId)
Select SCOPE_IDENTITY() AS NewApplicationId

End Try

Begin Catch
Throw
End Catch

End
GO
