USE [UMS]
GO
/****** Object:  StoredProcedure [dbo].[SP_GetStudentSemesterMaterialInfoByID]    Script Date: 5/9/2026 10:28:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_GetStudentSemesterMaterialInfoByID]

@StudentSemesterMaterialID int

AS

Begin

Begin Try

Select * From StudentSemesterMaterials Where StudentSemesterMaterialID = @StudentSemesterMaterialID

End Try

Begin Catch
Throw
End Catch

End
GO
