USE [UMS]
GO
/****** Object:  StoredProcedure [dbo].[SP_AddNewPerson]    Script Date: 5/9/2026 10:28:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[SP_AddNewPerson]

	@NationalNo varchar(20),
	@FirstName nvarchar(15),
	@SecondName nvarchar(15) = NULL,
	@ThirdName nvarchar(15) = NULL,
	@LastName nvarchar(15),
	@DateOfBirth date,
	@Gendor tinyint,
	@Email varchar(50) = NULL,
	@NationalityCountryId int,
	@ImagePath  nvarchar(250) = NULL,
	@CreatedByUserId int

	AS
	Begin

	SET NOCOUNT ON;

		Begin Try

			IF @DateOfBirth > GETDATE()
			Begin
				Select -3 As ReturnValue;
				Return;
			End
			Insert Into People(NationalNo,FirstName,SecondName,ThirdName,LastName,DateOfBirth,Gendor,Email,NationalityCountryId,ImagePath,CreatedByUserId)

			Values(@NationalNo,@FirstName,@SecondName,@ThirdName,@LastName,@DateOfBirth,@Gendor,@Email,@NationalityCountryId,@ImagePath,@CreatedByUserId);
			Select SCOPE_IDENTITY() As NewPersonId;
		End Try

		BEGIN CATCH

        IF ERROR_NUMBER() = 2627
        BEGIN
            SELECT -2;
            RETURN;
        END

        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR (@ErrorMessage, 16, 1);

    END CATCH

	End
GO
