USE [UMS]
GO
/****** Object:  StoredProcedure [dbo].[SP_ChangeStudentPassword]    Script Date: 7/6/2026 3:50:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[SP_ChangeStudentPassword]

@StudentID int,
@OldPassword nvarchar(255),
@NewPassword nvarchar(255)
AS
Begin

Begin Try

Update Students Set Password = @NewPassword Where StudentID = @StudentID And Password = @OldPassword

End Try

Begin Catch
THROW
End Catch

End
GO
