USE [UMS]
GO
/****** Object:  StoredProcedure [dbo].[SP_DeleteRoom]    Script Date: 5/9/2026 10:28:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_DeleteRoom]

@RoomID int

AS

Begin

Begin Try
Delete Rooms Where RoomID = @RoomID
End Try

Begin Catch
Throw
End Catch

End
GO
