USE [UMS]
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllRegistrationStudentAppTypes]    Script Date: 7/6/2026 3:50:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_GetAllRegistrationStudentAppTypes]

As

Begin

Begin Try
Select * From RegistrationStudentApplicationTypes
End Try

Begin Catch 
THROW
End Catch

End
GO
