USE [UMS]
GO
/****** Object:  StoredProcedure [dbo].[SP_DeactivateStudentAccount]    Script Date: 5/9/2026 10:28:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_DeactivateStudentAccount]
@StudentID int,
@IsActive bit

AS 
Begin

Begin Try

IF Exists(Select 1 From Students Where StudentID = @StudentID)
Begin
	Update Students
	Set IsActive = @IsActive
	Where StudentID = @StudentID
End

End Try

Begin Catch
Throw
End Catch

End
GO
