USE [UMS]
GO
/****** Object:  StoredProcedure [dbo].[SP_AddNewGraduateStudent]    Script Date: 5/9/2026 10:28:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[SP_AddNewGraduateStudent]

@StudentId int,
@FinalCumulativeAverage decimal(5,2),
@RankId int,
@GraduationYear smallint,
@GraduationAnnualSemesterId int


AS

Begin

SET NOCOUNT ON;

Begin Try
Insert Into GraduateStudents (StudentId,FinalCumulativeAverage,RankId,GraduationYear,GraduationAnnualSemesterId)
Values(@StudentId,@FinalCumulativeAverage,@RankId,@GraduationYear,@GraduationAnnualSemesterId) 
Select SCOPE_IDENTITY() AS NewGraduateStudentId
End Try

Begin Catch
Throw
End Catch

End
GO
