USE [UMS]
GO
/****** Object:  StoredProcedure [dbo].[SP_AddNewAddress]    Script Date: 5/9/2026 10:28:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[SP_AddNewAddress]

@Address nvarchar(500),
@PersonId int

AS
Begin

Begin Try

Insert Into Addresses(Address,PersonId)
Values(@Address,@PersonId)
Select SCOPE_IDENTITY() AS NewAddressId

End Try

Begin Catch
Throw
End Catch

End
GO
