USE [UMS]
GO
/****** Object:  StoredProcedure [dbo].[SP_AddNewRegistrationStudentAppType]    Script Date: 7/6/2026 3:50:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_AddNewRegistrationStudentAppType]

@RegistrationStudentAppTypeTitle nvarchar(250)

As

Begin

Begin Try
Insert Into RegistrationStudentApplicationTypes (RegistrationStudentApplicationTypeTitle) Values (@RegistrationStudentAppTypeTitle)
Select SCOPE_IDENTITY() AS NewRegistrationStudentAppTypeID
End Try

Begin Catch 
THROW
End Catch

End
GO
