USE [UMS]
GO
/****** Object:  StoredProcedure [dbo].[SP_GetRoomInfoByID]    Script Date: 7/6/2026 3:50:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_GetRoomInfoByID]

@RoomID int

AS

Begin

Begin Try
Select * From Rooms Where RoomID = @RoomID
End Try

Begin Catch
Throw
End Catch

End
GO
