USE [UMS]
GO
/****** Object:  StoredProcedure [dbo].[SP_Country_GetAll]    Script Date: 7/6/2026 3:50:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_Country_GetAll]

AS
BEGIN
    SET NOCOUNT ON;

    Select CountryId,CountryName 
	From Countries 
	ORDER BY CountryName
END

GO
