USE [UMS]
GO
/****** Object:  StoredProcedure [dbo].[SP_DeleteProgramType]    Script Date: 5/9/2026 10:28:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_DeleteProgramType]
@ProgramTypeID int

AS
Begin

Begin Try
Delete ProgramTypes Where ProgramTypeID = @ProgramTypeID
End Try

Begin Catch
THrow
End Catch

End
GO
