USE [UMS]
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllRooms]    Script Date: 5/9/2026 10:28:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_GetAllRooms]

AS

Begin

Begin Try
Select * From Rooms
End Try

Begin Catch
Throw
End Catch

End
GO
