USE [UMS]
GO
/****** Object:  StoredProcedure [dbo].[SP_IsAdminExistByPersonID]    Script Date: 7/6/2026 3:50:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_IsAdminExistByPersonID]
@PersonID int
AS
Begin

Begin Try
Select Found = 1 From Admins Where PersonID = @PersonID
End Try

Begin Catch
Throw
End Catch

End
GO
