USE [UMS]
GO
/****** Object:  StoredProcedure [dbo].[SP_GetPersonByNationalNo]    Script Date: 5/9/2026 10:28:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_GetPersonByNationalNo]
	@NationalNo Varchar(10)

As
Begin

	Begin Try
		Select * From People Where NationalNo = @NationalNo
		IF @@ROWCOUNT = 0
		Begin
			return -1;
		End
		return 1;
	End Try

	Begin Catch
		Declare @ErrorMessage Nvarchar(4000) = ERROR_MESSAGE();
		RAISERROR('Error in SP_GetPersonByNationalNo: %s',16,1,@ErrorMessage)
		Return 0;
	End Catch

End
	
GO
