USE [UMS]
GO
/****** Object:  StoredProcedure [dbo].[SP_SetDoctorPermissionLevel]    Script Date: 5/9/2026 10:28:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[SP_SetDoctorPermissionLevel]
@DoctorID int,
@PermissionLevel tinyint

AS 
Begin

Begin Try

Update Doctors
Set PermissionLevel = @PermissionLevel
Where DoctorID = @DoctorID

IF @@RowCount = 0
Throw 50000, 'Doctor not found', 1

End Try

Begin Catch
Throw
End Catch

End
GO
