USE [UMS]
GO
/****** Object:  StoredProcedure [dbo].[SP_IsPersonExistByID]    Script Date: 5/9/2026 10:28:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[SP_IsPersonExistByID]
	@PersonID int
AS
Begin
Begin Try
	IF Exists(Select 1 From People Where PersonID = @PersonID)
		return 1
	ELSE 
		return 0
End Try

Begin Catch 
	DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
	RAISERROR ('Error in SP_IsPersonExistByID: %s', 16, 1, @ErrorMessage);
	THROW	
End Catch
End
GO
