USE [UMS]
GO
/****** Object:  StoredProcedure [dbo].[SP_AddNewSalary]    Script Date: 5/9/2026 10:28:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_AddNewSalary]
    @Amount DECIMAL(10,2),
    @Currency CHAR(3),
    @NewStartDate DATE,
    @NewEndDate DATE = NULL,
    @EmploymentId INT,
    @CreatedAt DATETIME2,
    @CreatedByUserId INT
AS
BEGIN
    BEGIN TRY

        --Check dates
        IF(@NewEndDate IS NOT NULL AND @NewStartDate > @NewEndDate)
        BEGIN
            THROW 50003, 'Invalid date range', 1;
        END

        -- Check overlaping
        IF EXISTS(
            SELECT 1 
            FROM Salaries
            WHERE EmploymentId = @EmploymentId
            AND (
                EndDate IS NULL 
                OR @NewStartDate <= EndDate
            )
            AND (
                @NewEndDate IS NULL 
                OR @NewEndDate >= StartDate
            )
        )
        BEGIN
            THROW 50004, 'Salary overlap!', 1;
        END

        -- إدخال
        INSERT INTO Salaries
        (Amount, Currency, StartDate, EndDate, EmploymentId, CreatedAt, CreatedByUserId)
        VALUES
        (@Amount, @Currency, @NewStartDate, @NewEndDate, @EmploymentId, @CreatedAt, @CreatedByUserId);

        SELECT SCOPE_IDENTITY() AS NewSalaryId;

    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END
GO
