USE [UMS]
GO
/****** Object:  StoredProcedure [dbo].[SP_IsDoctorExistByDoctorID]    Script Date: 5/9/2026 10:28:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_IsDoctorExistByDoctorID]
@DoctorID int

AS 
Begin

Begin Try
Select Found = 1 From Doctors Where DoctorID = @DoctorID
End Try

Begin Catch
Throw
End Catch

End
GO
