USE [UMS]
GO
/****** Object:  StoredProcedure [dbo].[SP_AddNewStudent]    Script Date: 7/6/2026 3:50:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[SP_AddNewStudent]

@PersonID int,
@RegistrationStudentApplicationID int,
@RankID int,
@StudentStatus tinyint,
@CreditBalance smallmoney,
@DebitBalance smallmoney,
@SpecializationHours tinyint,
@PassedHours tinyint,
@CumulativeAverage float,
@CreatedByAdminID int,
@Password nvarchar(255),
@IsActive bit,
@CreatedDate datetime,
@LastStatusDate datetime

AS
Begin

Begin Try

Insert Into Students(PersonID,RegistrationStudentApplicationID,RankID,StudentStatus,CreditBalance,DebitBalance,SpecializationHours,PassedHours,
CumulativeAverage,CreatedByAdminID,Password,IsActive,CreatedDate,LastStatusDate)

Values(@PersonID,@RegistrationStudentApplicationID,@RankID,@StudentStatus,@CreditBalance,@DebitBalance,
@SpecializationHours,@PassedHours,@CumulativeAverage,@CreatedByAdminID,@Password,@IsActive,@CreatedDate,@LastStatusDate)

SELECT SCOPE_IDENTITY() AS NewStudentID;

End Try

Begin Catch
THROW
End Catch

End

GO
