USE [UMS]
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateTestType]    Script Date: 7/6/2026 3:50:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_UpdateTestType]

@TestTypeID int,
@TestTypeTilte nvarchar(30),
@TestMark tinyint

AS

Begin

Begin Try
Update TestTypes Set TestTypeTilte = @TestTypeTilte,TestMark = @TestMark Where TestTypeID = @TestTypeID
Return @@RowCount
End Try

Begin Catch
Throw
End Catch

End
GO
