USE [UMS]
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdatePostponementStudyApp]    Script Date: 7/6/2026 3:50:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_UpdatePostponementStudyApp]

@PostponementApplicationID int,
@StartingDate date,
@EndingDate date,
@Reason nvarchar(500)

AS

Begin

Begin Try

Update PostponementStudyApplications Set PostponementApplicationID = @PostponementApplicationID, StartingDate = @StartingDate,
EndingDate = @EndingDate,Reason = @Reason
Where PostponementApplicationID = @PostponementApplicationID
return @@RowCount

End Try

Begin Catch
Throw
End Catch

End
GO
