USE [UMS]
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateAnnualSemester]    Script Date: 5/9/2026 10:28:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_UpdateAnnualSemester]

@AnnualSemesterID int,
@SemesterName varchar(25)

AS

Begin

Begin Try
Update AnnualSemesters Set SemesterName = @SemesterName Where AnnualSemesterID = @AnnualSemesterID
End Try

Begin Catch
Throw
End Catch

End
GO
