USE [UMS]
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllApplicationTypes]    Script Date: 7/6/2026 3:50:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_GetAllApplicationTypes]

AS
Begin

Begin Try

Select * From ApplicationTypes Order By ApplicationFees Desc

End Try

Begin Catch
Throw
End Catch


End
GO
