USE [UMS]
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllStudents]    Script Date: 5/9/2026 10:28:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[SP_GetAllStudents]
AS
Begin

Begin Try

With CTE_RegistrationStudentApp AS
(
	Select RegistrationStudentApplicationID, Colleges.CollegeName, Departments.DepartmentName, ProgramTypes.ProgramTypeName 
	
	From RegistrationStudentApplications

	Inner Join Colleges On (RegistrationStudentApplications.CollegeID = Colleges.CollegeID)
	Inner Join Departments On (RegistrationStudentApplications.DepartmentID = Departments.DepartmentID)
	Inner Join ProgramTypes On (RegistrationStudentApplications.ProgramTypeID = ProgramTypes.ProgramTypeID)
),
CTE_RankName AS
(
	Select RankID, RankName 
	From StudentRanks
),
CTE_CreatedByAdmin AS
(
	Select Admins.CreatedByAdminID,ByAdmin.AdminName 
	From Admins
	Left Join Admins AS ByAdmin On (Admins.CreatedByAdminID = ByAdmin.AdminID)
)

Select Students.StudentID, Students.PersonID, Students.RegistrationStudentApplicationID,
Name = People.FirstName + ' ' + People.SecondName + ' ' + People.ThirdName + ' ' + People.LastName, Students.StudentStatus, 

CTE_RegistrationStudentApp.CollegeName, CTE_RegistrationStudentApp.DepartmentName, CTE_RegistrationStudentApp.ProgramTypeName, 

Students.SpecializationHours, Students.PassedHours,Students.CumulativeAverage, CTE_RankName.RankName,
Students.IsActive, Students.CreatedDate, Students.LastStatusDate, CTE_CreatedByAdmin.AdminName As CreatedByAdmin

From Students

Inner Join CTE_RegistrationStudentApp On (Students.RegistrationStudentApplicationID = CTE_RegistrationStudentApp.RegistrationStudentApplicationID)

Inner Join People On (Students.PersonID = People.PersonID)

Inner Join CTE_RankName On (Students.RankID = CTE_RankName.RankID)
Inner Join CTE_CreatedByAdmin On (Students.CreatedByAdminID = CTE_CreatedByAdmin.CreatedByAdminID)

End Try

Begin Catch
THROW
End Catch

End
GO
