USE [UMS]
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateMaterialTestResult]    Script Date: 7/6/2026 3:50:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_UpdateMaterialTestResult]

@TestResultID int,
@Result tinyint,
@LastModifiedDate datetime,
@ModifiedByDoctorID int,
@IsAccredited bit = Null

AS 

Begin

Begin Try

Update MaterialTestResults 
Set Result = @Result, LastModifiedDate = @LastModifiedDate, ModifiedByDoctorID = @ModifiedByDoctorID, IsAccredited = ISNULL(@IsAccredited,IsAccredited)
where TestResultID = @TestResultID
return @@RowCount

End Try

Begin Catch
Throw
End Catch

End
GO
