USE [UMS]
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateDoctor]    Script Date: 5/9/2026 10:28:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[SP_UpdateDoctor]

@DoctorID int,
@PersonID int,
@CollegeID int,
@DepartmentID int,
@DoctorStatus tinyint,
@CreatedDate datetime,
@CreatedByAdminID int,
@LastStatusDate datetime,
@PermissionLevel tinyint,
@IsActive bit

AS
Begin

Begin Try

Update Doctors 
Set PersonID = @PersonID,
	CollegeID = @CollegeID,
	DepartmentID = @DepartmentID,
	DoctorStatus = @DoctorStatus,
	CreatedDate = @CreatedDate,
	CreatedByAdminID = @CreatedByAdminID,
	LastStatusDate = @LastStatusDate,
	PermissionLevel = @PermissionLevel,
	IsActive = @IsActive

	Where DoctorID = @DoctorID
	return @@RowCount

End Try

Begin Catch
THROW
End Catch

End
GO
