USE [UMS]
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateBranch]    Script Date: 5/9/2026 10:28:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_UpdateBranch]

@BranchID int,
@BranchNumber varchar(10),
@DepartmentID int,
@DaysOfWeek tinyint = null,
@Time time(7) = null,
@Capacity tinyint = null

AS

Begin

Begin Try

Update Branches 
Set BranchNumber = @BranchNumber, DepartmentID = @DepartmentID, DaysOfWeek = @DaysOfWeek, Time = @Time, Capacity = @Capacity
Where BranchID = @BranchID

End Try

Begin Catch
Throw
End Catch

End
GO
