USE [UMS]
GO
/****** Object:  StoredProcedure [dbo].[SP_AddNewBranch]    Script Date: 5/9/2026 10:28:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[SP_AddNewBranch]

@BranchNumber nvarchar(10),
@RoomId int, 
@Status tinyint, 
@CreatedByUserId int, 
@SemesterMaterialId int, 
@DoctorId int

AS

Begin

SET NOCOUNT ON; 

Begin Try

Insert Into Branches (BranchNumber,RoomId,Status,CreatedByUserId,SemesterMaterialId,DoctorId) 
Values(@BranchNumber,@RoomId,@Status,@CreatedByUserId,@SemesterMaterialId,@DoctorId)
Select SCOPE_IDENTITY() AS NewBranchId

End Try

Begin Catch
Throw
End Catch

End
GO
