USE [UMS]
GO
/****** Object:  StoredProcedure [dbo].[SP_AddNewPostponementStudyApp]    Script Date: 7/6/2026 3:50:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_AddNewPostponementStudyApp]

@ApplicationID int,
@StudentID int,
@StartingDate date,
@EndingDate date,
@Reason nvarchar(500)

AS

Begin

Begin Try

Insert Into PostponementStudyApplications(ApplicationID,StudentID,StartingDate,EndingDate,Reason)
Values(@ApplicationID,@StudentID,@StartingDate,@EndingDate,@Reason)
Select SCOPE_IDENTITY() AS NewPostponementStudyAppID

End Try

Begin Catch
Throw
End Catch

End
GO
