USE [UMS]
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllPeople]    Script Date: 5/9/2026 10:28:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[SP_GetAllPeople]
As
Begin

	Begin Try

			With CTE_Phone AS
		(
			Select PersonID, STRING_AGG('[' + PhoneNumber + ']',' ') As PhoneNumbers 
			From Phones
			Group By PersonID
		),
		CTE_Address AS
		(
			Select PersonID,STRING_AGG('[' + Address + ']',' ') AS Addresses 
			From Addresses
			Group By PersonID
		)
		Select People.PersonID,People.NationalNo, Name = People.FirstName + ' ' + People.SecondName + ' ' + People.ThirdName + ' ' + People.LastName,
		People.DateOfBirth, 

		CASE
		When People.Gendor = 0 Then 'Male'
		Else 'Female'
		END AS GendorCaption,

		CTE_Phone.PhoneNumbers,
		People.Email,
		CTE_Address.Addresses,

		Countries.CountryName,People.ImagePath

		From People
		Inner Join Countries On(People.NationalityCountryID = Countries.CountryID)
		Left Join CTE_Phone On (CTE_Phone.PersonID = People.PersonID)
		Left Join CTE_Address On (CTE_Address.PersonID = People.PersonID)

		Order By People.FirstName

	End Try

	Begin Catch
		
		Declare @ErrorMessage Nvarchar(4000) = ERROR_MESSAGE();
		RAISERROR('Error in SP_GetAllPeople: %s',16,1,@ErrorMessage)

	End Catch

End
GO
