USE [UMS]
GO
/****** Object:  StoredProcedure [dbo].[SP_GetMaterialTestAppointmentInfoBySemesterMaterialID]    Script Date: 5/9/2026 10:28:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_GetMaterialTestAppointmentInfoBySemesterMaterialID]

@SemesterMaterialID int

AS 

Begin

Begin Try

Select * From MaterialTestAppointments Where SemesterMaterialID = @SemesterMaterialID

End Try

Begin Catch
Throw
End Catch

End
GO
