USE [UMS]
GO
/****** Object:  StoredProcedure [dbo].[SP_Person_Add]    Script Date: 7/6/2026 3:50:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_Person_Add]
(
    @NationalNo varchar(20),
	@FirstName nvarchar(15),
	@SecondName nvarchar(15) = NULL,
	@ThirdName nvarchar(15) = NULL,
	@LastName nvarchar(15),
	@DateOfBirth date,
	@Gendor tinyint,
	@Email varchar(50) = NULL,
	@NationalityCountryId int,
	@ImagePath  nvarchar(250) = NULL,
	@CreatedByUserId int
)
AS
BEGIN
    SET NOCOUNT ON;

    Begin Try

		Insert Into People(NationalNo,FirstName,SecondName,ThirdName,LastName,DateOfBirth,Gendor,Email,NationalityCountryId,ImagePath,CreatedByUserId)
		Values(@NationalNo,@FirstName,@SecondName,@ThirdName,@LastName,@DateOfBirth,@Gendor,@Email,@NationalityCountryId,@ImagePath,@CreatedByUserId);
		SELECT CAST(SCOPE_IDENTITY() AS INT) AS NewPersonId;

	End Try

	BEGIN CATCH

		IF ERROR_NUMBER() IN (2601,2627)
		BEGIN
			IF ERROR_MESSAGE() LIKE '%UQ_NationalNo%'
			BEGIN 
				SELECT -2;
				RETURN;
			END
			IF ERROR_MESSAGE() LIKE '%UX_People_Email%'
			BEGIN
				SELECT -3
				RETURN;
			END
		END;

		THROW

	END CATCH
END

GO
