USE [UMS]
GO
/****** Object:  StoredProcedure [dbo].[SP_DeletePerson]    Script Date: 5/9/2026 10:28:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[SP_DeletePerson]
	@PersonID int

AS
Begin

	Begin Try
		IF NOT EXISTS(Select 1 From People Where PersonID = @PersonID)
		Begin
			RAISERROR('Person with ID %d does not exist.',16,1,@PersonID);
			Return -1;
		End
		Delete From People Where PersonID = @PersonID
		Return 1;

	End Try

	Begin Catch
		Declare @ErrorMessage Nvarchar(4000) = ERROR_MESSAGE();
		RAISERROR('Error in SP_DeletePerson: %s',16,1,@ErrorMessage)
		Return 0;
	End Catch

End
GO
