USE [UMS]
GO
/****** Object:  StoredProcedure [dbo].[SP_IsAdminExistByAdminNameAndPassword]    Script Date: 7/6/2026 3:50:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_IsAdminExistByAdminNameAndPassword]
@AdminName nvarchar(50),
@Password nvarchar(255)
AS

Begin

Begin Try
Select Found = 1 From Admins Where AdminName = @AdminName And Password = @Password
End Try

Begin Catch
Throw
End Catch

End
GO
