USE [UMS]
GO
/****** Object:  StoredProcedure [dbo].[SP_AddNewSemesterMaterial]    Script Date: 5/9/2026 10:28:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[SP_AddNewSemesterMaterial]

@CourseID int,
@DoctorID int,
@BrancheID int,
@RoomID int,
@AnnualSemesterID int,
@Year smallint,
@CourseStatus tinyint,
@CreatedDate datetime,
@CreatedByDoctorID int,
@LastModifiedDate datetime = Null,
@ModifiedByDoctorID int = Null

AS

Begin

Begin Try
Insert Into SemesterMaterials 
(CourseID,DoctorID,BrancheID,RoomID,AnnualSemesterID,Year,CourseStatus,CreatedDate,CreatedByDoctorID,LastModifiedDate,ModifiedByDoctorID)
Values(@CourseID,@DoctorID,@BrancheID,@RoomID,@AnnualSemesterID,@Year,@CourseStatus,@CreatedDate,@CreatedByDoctorID,
IsNull(@LastModifiedDate,Null),IsNull(@ModifiedByDoctorID,Null))
Select SCOPE_IDENTITY() AS NewSemesterMaterialID
End Try

Begin Catch
Throw
End Catch

End
GO
