USE [UMS]
GO
/****** Object:  StoredProcedure [dbo].[SP_DeleteStudent]    Script Date: 5/9/2026 10:28:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_DeleteStudent]

@StudentID int

AS
Begin

Begin Try

Delete Students Where StudentID = @StudentID
Return @@RowCount

End Try

Begin Catch
THROW
End Catch

End
GO
