USE [UMS]
GO
/****** Object:  StoredProcedure [dbo].[SP_AddNewAdmin]    Script Date: 7/6/2026 3:50:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[SP_AddNewAdmin] 

@PersonId int,
@CreatedByUserId int,
@Status tinyint

AS
Begin

SET NOCOUNT ON;

Begin Try

	Insert Into Admins(PersonId,CreatedByUserId,Status)
	Values(@PersonId,@CreatedByUserId,@Status)
	SELECT SCOPE_IDENTITY() AS NewAdminId;

End Try

Begin Catch
	DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
	RAISERROR('Error in SP_AddNewAdmin: %s', 16, 1, @ErrorMessage);
End Catch

End
GO
