USE [UMS]
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateStudentRank]    Script Date: 5/9/2026 10:28:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_UpdateStudentRank]

@RankID int,
@RankName varchar(25)

AS
Begin

Begin Try
Update StudentRanks Set RankName = @RankName Where RankID = @RankID
End Try

Begin Catch
Throw
End Catch

End
GO
