USE [UMS]
GO
/****** Object:  StoredProcedure [dbo].[SP_Address_Update]    Script Date: 7/6/2026 3:50:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_Address_Update]
(
    @AddressId int,
	@Address nvarchar(500),
	@Result INT OUTPUT
)
AS
BEGIN
    SET NOCOUNT ON;

    Update Addresses 
	Set Address = @Address
	Where AddressId = @AddressId

	IF @@ROWCOUNT = 0
	BEGIN
		SET @Result = 0;
		RETURN;
	END
	SET @Result = 1;
END

GO
