USE [UMS]
GO
/****** Object:  StoredProcedure [dbo].[SP_Address_Add]    Script Date: 7/6/2026 3:50:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_Address_Add]
(
    @Address nvarchar(500),
	@PersonId int
)
AS
BEGIN
    SET NOCOUNT ON;

    Insert Into Addresses(Address,PersonId)
	Values(@Address,@PersonId)
	Select CAST(SCOPE_IDENTITY() AS INT) AS NewAddressId
END

GO
