USE [UMS]
GO
/****** Object:  StoredProcedure [dbo].[SP_Address_GetById]    Script Date: 7/6/2026 3:50:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_Address_GetById]
(
    @AddressId int
)
AS
BEGIN
    SET NOCOUNT ON;

    Select AddressId,Address,PersonId 
	From Addresses 
	Where AddressId = @AddressId
END
GO
