USE [UMS]
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateProgramType]    Script Date: 7/6/2026 3:50:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_UpdateProgramType]
@ProgramTypeID int,
@ProgramTypeName nvarchar(50)

AS
Begin

Begin Try
Update ProgramTypes Set ProgramTypeName = @ProgramTypeName Where ProgramTypeID = @ProgramTypeID
End Try

Begin Catch
THrow
End Catch

End
GO
