USE [UMS]
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAdminInfoByAdminID]    Script Date: 5/9/2026 10:28:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[SP_GetAdminInfoByAdminID]
@AdminID int
AS
Begin

Begin Try
Select * From AdminDetails_View Where AdminID = @AdminID
End Try

Begin Catch
Throw
End Catch

End
GO
