USE [UMS]
GO
/****** Object:  StoredProcedure [dbo].[SP_Person_ExistsByNationalNo]    Script Date: 7/6/2026 3:50:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_Person_ExistsByNationalNo]
(
    @NationalNo varchar(20),
	@Result BIT OUTPUT
)
AS
BEGIN
    SET NOCOUNT ON;

	SET @Result = 
	CASE
		WHEN EXISTS(
		Select 1 From People 
		Where NationalNo = @NationalNo
		)
		THEN 1
		ELSE 0
	END;
END

GO
