USE [UMS]
GO
/****** Object:  StoredProcedure [dbo].[SP_GetApplicationTypeInfoByID]    Script Date: 5/9/2026 10:28:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_GetApplicationTypeInfoByID]

@ApplicationTypeID int

AS
Begin

Begin Try

Select * From ApplicationTypes Where ApplicationTypeID = @ApplicationTypeID Order By ApplicationFees Desc

End Try

Begin Catch
Throw
End Catch


End
GO
