USE [UMS]
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateGraduateStudent]    Script Date: 7/6/2026 3:50:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_UpdateGraduateStudent]

@GraduateStudentID int,
@StudentID int,
@FinalCumulativeAverage float,
@RankID int,
@GraduationYear smallint,
@GraduationAnnualSemesterID int


AS

Begin

Begin Try
Update GraduateStudents Set StudentID = @StudentID,FinalCumulativeAverage = @FinalCumulativeAverage,RankID = @RankID,GraduationYear = @GraduationYear,
GraduationAnnualSemesterID = @GraduationAnnualSemesterID
Where GraduateStudentID = @GraduateStudentID

return @@RowCount
End Try

Begin Catch
Throw
End Catch

End
GO
