USE [UMS]
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAppInfoByPersonID]    Script Date: 5/9/2026 10:28:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_GetAppInfoByPersonID]

@ApplicantPersonID int,
@ApplicationTypeID int

AS

Begin

Begin Try
Select * From Applications Where ApplicantPersonID = @ApplicantPersonID And ApplicationTypeID = @ApplicationTypeID
End Try

Begin Catch
Throw
End Catch

End
GO
