USE [UMS]
GO
/****** Object:  StoredProcedure [dbo].[SP_Person_GetAll]    Script Date: 7/6/2026 3:50:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_Person_GetAll]

AS
BEGIN
    SET NOCOUNT ON;

    Select PersonId,NationalNo,FirstName,SecondName,ThirdName,LastName,DateOfBirth,Gendor,Email,
		   NationalityCountryId,ImagePath,CreatedAt,UpdatedAt,CreatedByUserId,UpdatedByUserId,IsActive 
	From People
	Order By CreatedAt DESC
END
GO
