USE [UMS]
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdatePerson]    Script Date: 5/9/2026 10:28:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_UpdatePerson]
	@PersonID int,
	@NationalNo varchar(10),
	@FirstName nvarchar(15),
	@SecondName nvarchar(15),
	@ThirdName nvarchar(15),
	@LastName nvarchar(15),
	@DateOfBirth datetime,
	@Gendor tinyint,
	@Email varchar(50),
	@NationalityCountryID int,
	@ImagePath nvarchar(250),
	@CreatedDate datetime,
	@LastStatusDate datetime,
	@CreatedByAdminID int

AS
Begin
	Begin Try
	-- Check if PersonID exists

	IF EXISTS(Select 1 From People Where PersonID = @PersonID)
	Begin
			Update People Set FirstName = @FirstName,
			SecondName = @SecondName, ThirdName = @ThirdName, LastName = @LastName, DateOfBirth = @DateOfBirth, Gendor = @Gendor, Email = @Email, 
			NationalityCountryID = @NationalityCountryID, ImagePath = @ImagePath, CreatedDate = @CreatedDate, LastStatusDate = @LastStatusDate,
			CreatedByAdminID = @CreatedByAdminID

			Where PersonID = @PersonID
			return 1; -- Person Found
	End
	Else
	Begin
		return 0; -- Person not found
	End
	End Try
	Begin Catch
		DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR ('Error in SP_UpdatePerson: %s', 16, 1, @ErrorMessage);
		return -1; --Error occurred
	End Catch
End
GO
