USE [UMS]
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllGraduateStudents]    Script Date: 5/9/2026 10:28:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_GetAllGraduateStudents]

As

Begin

Begin Try
Select * From GraduateStudents
End Try

Begin Catch
Throw
End Catch

End
GO
