USE [UMS]
GO
/****** Object:  StoredProcedure [dbo].[SP_AddNewRoom]    Script Date: 7/6/2026 3:50:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_AddNewRoom]

@RoomName nvarchar(50) = null,
@CollegeID int,
@NumberOfSeats tinyint

AS

Begin

Begin Try
Insert Into Rooms (RoomName,CollegeID,NumberOfSeats) Values(@RoomName,@CollegeID,@NumberOfSeats)
Select SCOPE_IDENTITY() AS NewRoomID
End Try

Begin Catch
Throw
End Catch

End
GO
