USE [UMS]
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAddressByPersonID]    Script Date: 5/9/2026 10:28:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[SP_GetAddressByPersonID]
@PersonID int

AS
Begin

Begin Try
Select * From Addresses Where PersonID = @PersonID
End Try

Begin Catch
Throw
End Catch

End
GO
