USE [UMS]
GO
/****** Object:  StoredProcedure [dbo].[SP_AddNewStudentRank]    Script Date: 5/9/2026 10:28:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_AddNewStudentRank]

@RankName varchar(25)

AS
Begin

Begin Try
Insert Into StudentRanks (RankName) Values(@RankName)
Select SCOPE_IDENTITY() AS NewStudentRankID
End Try

Begin Catch
Throw
End Catch

End
GO
