USE [UMS]
GO
/****** Object:  StoredProcedure [dbo].[SP_GetPersonInfoByID]    Script Date: 5/9/2026 10:28:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[SP_GetPersonInfoByID]
	@PersonId int

As
Begin

	Begin Try
		Select * From People Where PersonID = @PersonId
		IF @@ROWCOUNT = 0
		Begin
			return -1;
		End
		return 1;
	End Try

	Begin Catch
		Declare @ErrorMessage Nvarchar(4000) = ERROR_MESSAGE();
		RAISERROR('Error in SP_GetPersonInfoByID: %s',16,1,@ErrorMessage)
		Return 0;
	End Catch

End
GO
