USE [UMS]
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateStudentSemesterCase]    Script Date: 5/9/2026 10:28:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_UpdateStudentSemesterCase]

@StudentSemesterCaseID int,
@StudentID int,
@SemesterHours tinyint = Null,
@PassedHours tinyint = Null,
@SemesterAverage float = Null,
@SemesterRankID int,
@AnnualSemesterID int,
@Year smallint = Null,
@SemesterHoursFees smallmoney = Null,
@PaidSemesterHoursFees smallmoney = Null,
@PaySemesterHoursFees bit = Null,
@LateFineFees smallmoney = Null,
@Status tinyint,
@LastStatusDate Datetime


As

Begin

Begin Try

Update StudentSemesterCases 

Set StudentID = @StudentID,
SemesterHours = ISNULL(@SemesterHours,SemesterHours),
PassedHours = ISNULL(@PassedHours,PassedHours),
SemesterAverage = ISNULL(@SemesterAverage,SemesterAverage),
SemesterRankID = @SemesterRankID,
AnnualSemesterID = @AnnualSemesterID,
Year = ISNULL(@Year,Year),
SemesterHoursFees = ISNULL(@SemesterHoursFees,SemesterHoursFees),
PaidSemesterHoursFees = ISNULL(@PaidSemesterHoursFees,PaidSemesterHoursFees),
PaySemesterHoursFees = ISNULL(@PaySemesterHoursFees,PaySemesterHoursFees),
LateFineFees = ISNULL(@LateFineFees,LateFineFees),
Status = @Status,
LastStatusDate = @LastStatusDate

Where StudentSemesterCaseID = @StudentSemesterCaseID
return @@RowCount


End Try

Begin Catch
Throw
End Catch

End
GO
