USE [UMS]
GO
/****** Object:  StoredProcedure [dbo].[SP_Person_Update]    Script Date: 7/6/2026 3:50:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_Person_Update]
(
    @PersonId int,
	@NationalNo varchar(20),
	@FirstName nvarchar(15),
	@SecondName nvarchar(15) = NULL,
	@ThirdName nvarchar(15) = NULL,
	@LastName nvarchar(15),
	@DateOfBirth date,
	@Gendor tinyint,
	@Email varchar(50) = NULL,
	@NationalityCountryId int,
	@ImagePath  nvarchar(250) = NULL,
	@UpdatedAt datetime2(0),
	@UpdatedByUserId int,
	@IsActive bit,
	@Result INT OUTPUT
)
AS
BEGIN
    SET NOCOUNT ON;

    Begin Try

		UPDATE People
		SET
		NationalNo = @NationalNo,
		FirstName = @FirstName,
		SecondName = @SecondName,
		ThirdName = @ThirdName,
		LastName = @LastName,
		DateOfBirth = @DateOfBirth,
		Gendor = @Gendor,
		Email = @Email,
		NationalityCountryId = @NationalityCountryId,
		ImagePath = @ImagePath,
		UpdatedAt = @UpdatedAt,
		UpdatedByUserId = @UpdatedByUserId,
		IsActive = @IsActive
		WHERE PersonId = @PersonId;

		IF @@ROWCOUNT = 0
		BEGIN
			SET @Result = 0;
			RETURN;
		END

		SET @Result = 1;

	End Try

	BEGIN CATCH

		IF ERROR_NUMBER() IN (2601,2627)
		BEGIN
			IF ERROR_MESSAGE() LIKE '%UQ_NationalNo%'
			BEGIN 
				SELECT -2;
				RETURN;
			END
			IF ERROR_MESSAGE() LIKE '%UX_People_Email%'
			BEGIN
				SELECT -3
				RETURN;
			END
		END;

		THROW

	END CATCH
END

GO
