USE [UMS]
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAdminInfoByPersonID]    Script Date: 7/6/2026 3:50:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[SP_GetAdminInfoByPersonID]
@PersonID int
AS
Begin

Begin Try
Select * From AdminDetails_View Where PersonID = @PersonID
End Try

Begin Catch
Throw
End Catch

End
GO
