USE [UMS]
GO
/****** Object:  StoredProcedure [dbo].[SP_Country_GetByName]    Script Date: 7/6/2026 3:50:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_Country_GetByName]
(
    @CountryName nvarchar(100)
)
AS
BEGIN
    SET NOCOUNT ON;

    Select CountryId,CountryName  
	From Countries 
	Where  CountryName = @CountryName
END

GO
