USE [UMS]
GO
/****** Object:  StoredProcedure [dbo].[SP_GetCountryInfoByName]    Script Date: 5/9/2026 10:28:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_GetCountryInfoByName]
@CountryName nvarchar(25)
AS
Begin

Begin Try
Select * From Countries Where CountryName = @CountryName
End Try

Begin Catch
Throw
End Catch

End
GO
