USE [UMS]
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateApplicationType]    Script Date: 7/6/2026 3:50:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[SP_UpdateApplicationType]

@ApplicationTypeID int,
@AppTypeTitle nvarchar(250),
@AppFees smallmoney

AS
Begin

Begin Try

Update ApplicationTypes Set ApplicationTypeTitle = @AppTypeTitle,ApplicationFees = @AppFees
Where ApplicationTypeID = @ApplicationTypeID

End Try

Begin Catch
Throw
End Catch


End
GO
