USE [UMS]
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllSemesterMaterials]    Script Date: 7/6/2026 3:50:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_GetAllSemesterMaterials]

AS

Begin

Begin Try

Select * From SemesterMaterials

End Try

Begin Catch
Throw
End Catch

End
GO
