USE [UMS]
GO
/****** Object:  StoredProcedure [dbo].[SP_DeleteApplicationType]    Script Date: 7/6/2026 3:50:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_DeleteApplicationType]

@ApplicationTypeID int

AS
Begin

Begin Try

Delete ApplicationTypes Where ApplicationTypeID = @ApplicationTypeID

End Try

Begin Catch
Throw
End Catch


End
GO
