USE [UMS]
GO
/****** Object:  StoredProcedure [dbo].[SP_GetPhoneInfoByID]    Script Date: 5/9/2026 10:28:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_GetPhoneInfoByID]
@PhoneID int

AS
Begin

Begin Try
Select * From Phones Where PhoneID = @PhoneID
End Try

Begin Catch
Throw
End Catch

End
GO
