USE [UMS]
GO
/****** Object:  StoredProcedure [dbo].[SP_DeleteDoctor]    Script Date: 7/6/2026 3:50:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_DeleteDoctor]

@DoctorID int

AS
Begin

Begin Try

Delete Doctors Where DoctorID = @DoctorID
return @@RowCount

End Try

Begin Catch
THROW
End Catch

End
GO
