USE [UMS]
GO
/****** Object:  StoredProcedure [dbo].[SP_AddNewApplicationType]    Script Date: 5/9/2026 10:28:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[SP_AddNewApplicationType]

@AppTypeTitle nvarchar(250)

AS
Begin

SET NOCOUNT ON;

Begin Try

Insert Into ApplicationTypes(ApplicationTypeTitle) 
Values(@AppTypeTitle)
Select SCOPE_IDENTITY() AS NewApplicationTypeId

End Try

Begin Catch
Throw
End Catch


End
GO
