USE [UMS]
GO
/****** Object:  StoredProcedure [dbo].[SP_AddNewStudentSemesterCase]    Script Date: 5/9/2026 10:28:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_AddNewStudentSemesterCase]

@StudentID int,
@SemesterHours tinyint = Null,
@PassedHours tinyint = Null,
@SemesterAverage float = Null,
@SemesterRankID int,
@AnnualSemesterID int,
@Year smallint = Null,
@SemesterHoursFees smallmoney = Null,
@PaidSemesterHoursFees smallmoney = Null,
@PaySemesterHoursFees bit = Null,
@LateFineFees smallmoney = Null,
@Status tinyint,
@LastStatusDate Datetime


As

Begin

Begin Try

Insert Into StudentSemesterCases (StudentID,SemesterHours,PassedHours,SemesterAverage,SemesterRankID,AnnualSemesterID,Year,SemesterHoursFees,
                                  PaidSemesterHoursFees,PaySemesterHoursFees,LateFineFees,Status,LastStatusDate)

			Values (@StudentID,ISNULL(@SemesterHours,Null),ISNULL(@PassedHours,Null),ISNULL(@SemesterAverage,Null),@SemesterRankID,@AnnualSemesterID,
			        ISNULL(@Year,Null),ISNULL(@SemesterHoursFees,Null),ISNULL(@PaidSemesterHoursFees,Null),ISNULL(@PaySemesterHoursFees,Null),
					ISNULL(@LateFineFees,Null),@Status,@LastStatusDate)

					Select SCOPE_IDENTITY() AS NewStudentSemesterCaseID
End Try

Begin Catch
Throw
End Catch

End
GO
