USE [UMS]
GO
/****** Object:  StoredProcedure [dbo].[SP_GetCollegeInfoByID]    Script Date: 5/9/2026 10:28:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_GetCollegeInfoByID]

@CollegeID int

AS
Begin

Begin Try
Select * From Colleges Where CollegeID = @CollegeID
End Try

Begin Catch
THrow
End Catch

End
GO
