USE [UMS]
GO
/****** Object:  View [dbo].[AdminDetails_View]    Script Date: 5/9/2026 10:27:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE View [dbo].[AdminDetails_View]

As

With CTE_People AS
(
	Select PersonID, NationalNo, FullName =  FirstName + ' ' + 
	CASE When SecondName IS NULL OR SecondName = '' Then '' Else ' ' + SecondName END +
	Case When ThirdName IS NULL OR ThirdName = '' Then '' Else ' ' + ThirdName End + 
	' ' + LastName
	From People
),
CTE_CreatedByAdminName AS
(
	Select Admins.CreatedByAdminID ,ByAdmin.AdminName As CreatedBy
	From Admins
	Left Join Admins As ByAdmin On (Admins.CreatedByAdminID = ByAdmin.AdminID)
)

Select Admins.AdminID, 
Admins.PersonID,
CTE_People.NationalNo,
Admins.AdminName,
CTE_People.FullName,

Admins.PermissionLevel,
Admins.IsActive, 
Admins.CreatedDate,
Admins.CreatedByAdminID,
CTE_CreatedByAdminName.CreatedBy As CreatedByAdmin,
Admins.LastStatusDate

From Admins
Inner Join CTE_People On(Admins.PersonID = CTE_People.PersonID)
Left Join CTE_CreatedByAdminName On (Admins.CreatedByAdminID = CTE_CreatedByAdminName.CreatedByAdminID)
GO
