USE [UMS]
GO
/****** Object:  View [dbo].[StudentDetails_View]    Script Date: 5/9/2026 10:27:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create View [dbo].[StudentDetails_View]

AS

With CTE_RegistrationStudentApp AS
(
	Select RegistrationStudentApplicationID, Colleges.CollegeName, Departments.DepartmentName, ProgramTypes.ProgramTypeName 
	
	From RegistrationStudentApplications

	Inner Join Colleges On (RegistrationStudentApplications.CollegeID = Colleges.CollegeID)
	Inner Join Departments On (RegistrationStudentApplications.DepartmentID = Departments.DepartmentID)
	Inner Join ProgramTypes On (RegistrationStudentApplications.ProgramTypeID = ProgramTypes.ProgramTypeID)
),
CTE_RankName AS
(
	Select RankID, RankName 
	From StudentRanks
)

Select St.StudentID, St.PersonID, St.RegistrationStudentApplicationID,
Name =  p.FirstName + ' ' + 
CASE When p.SecondName IS NULL OR p.SecondName = '' Then '' Else ' ' + p.SecondName END +
CASE When p.ThirdName IS NULL OR p.ThirdName = '' Then '' Else ' ' + p.ThirdName End + 
' ' + p.LastName

,St.StudentStatus AS Status,  

CTE_RegistrationStudentApp.CollegeName AS College, CTE_RegistrationStudentApp.DepartmentName AS Department, 
CTE_RegistrationStudentApp.ProgramTypeName AS ProgramName, 

St.SpecializationHours, St.PassedHours,St.CumulativeAverage, CTE_RankName.RankName AS Rank,

CASE 
When St.IsActive = 1 Then 'Yes' Else 'No' 
End AS IsActive, 

St.CreatedDate, St.LastStatusDate, ByAdmin.AdminName As CreatedBy

From Students AS St

Inner Join CTE_RegistrationStudentApp On (St.RegistrationStudentApplicationID = CTE_RegistrationStudentApp.RegistrationStudentApplicationID)
Inner Join People AS p On (St.PersonID = p.PersonID)
Inner Join CTE_RankName On (St.RankID = CTE_RankName.RankID)
Left Join Admins AS ByAdmin On (St.CreatedByAdminID = ByAdmin.AdminID)
GO
