USE [UMS]
GO
/****** Object:  View [dbo].[PeopleDetails_View]    Script Date: 5/9/2026 10:27:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE View [dbo].[PeopleDetails_View]

AS

With CTE_Phone As
(
	Select PersonID, STRING_AGG('[' + PhoneNumber + ']' ,' ') As PhoneNumbers
	From Phones
	Group By PersonID
),

CTE_Address As
(
	Select PersonID, STRING_AGG('[' + Address + ']' ,' ') As Addresses
	From Addresses 
	Group By PersonID
)

Select p.PersonID, p.NationalNo, 
FullName =  FirstName + ' ' + 
CASE When SecondName IS NULL OR SecondName = '' Then '' Else ' ' + SecondName END +
CASE When ThirdName IS NULL OR ThirdName = '' Then '' Else ' ' + ThirdName End + 
' ' + LastName,

CTE_Phone.PhoneNumbers As PhoneNumber, p.Email, CTE_Address.Addresses As Address, p.DateOfBirth,

CASE
When p.Gendor = 0 Then 'Male'
ELse 'Female'
END AS Gendor,

c.CountryName As Country, p.CreatedDate, ad.AdminName As CreatedBy,p.LastStatusDate, p.ImagePath


From People p

Inner Join Countries c ON (p.NationalityCountryID = c.CountryID)
Inner Join Admins ad ON (p.CreatedByAdminID = ad.AdminID)
Left Join CTE_Phone ON (p.PersonID = CTE_Phone.PersonID)
Left Join CTE_Address ON (p.PersonID = CTE_Address.PersonID)
GO
