USE [UMS]
GO
/****** Object:  View [dbo].[ApplicationDetails_View]    Script Date: 5/9/2026 10:27:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE View [dbo].[ApplicationDetails_View]

AS

Select a.ApplicationID, a.ApplicantPersonID,
FullApplicantName =  FirstName + ' ' + 
CASE When SecondName IS NULL OR SecondName = '' Then '' Else ' ' + SecondName END +
CASE When ThirdName IS NULL OR ThirdName = '' Then '' Else ' ' + ThirdName End + 
' ' + LastName, 

t.ApplicationTypeID,
t.ApplicationTypeTitle, a.ApplicationStatus, a.PaidFees, a.ApplicationDate, ad.AdminName As CreatedByAdminName, a.LastStatusDate

From Applications a

Inner Join People p On (a.ApplicantPersonID = p.PersonID)
Inner Join ApplicationTypes t On (a.ApplicationTypeID = t.ApplicationTypeID)
Inner Join Admins ad On (a.CreatedByAdminID = ad.AdminID)
GO
