USE [UMS]
GO
/****** Object:  View [dbo].[DoctorDetails_View]    Script Date: 5/9/2026 10:27:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create View [dbo].[DoctorDetails_View] AS

With CTE_People AS
(
	Select PersonID, FullName =  FirstName + ' ' + 
	CASE When SecondName IS NULL OR SecondName = '' Then '' Else ' ' + SecondName END +
	Case When ThirdName IS NULL OR ThirdName = '' Then '' Else ' ' + ThirdName End + 
	' ' + LastName
	From People
),
CTE_AcademicInfo AS
(
	Select Doctors.DoctorID, C.CollegeName, D.DepartmentName From Doctors

	Left Join Colleges As C ON (Doctors.CollegeID = C.CollegeID)
	Left Join Departments As D ON (Doctors.DepartmentID = D.DepartmentID)
)

Select Doctors.DoctorID, Doctors.PersonID, 
CTE_People.FullName, 
CTE_AcademicInfo.CollegeName AS College, 
CTE_AcademicInfo.DepartmentName AS Department,
Doctors.DoctorStatus AS Status, Doctors.PermissionLevel, 

CASE
When Doctors.IsActive = 1 Then 'Yes'
Else 'No'
END AS IsActive,

Doctors.CreatedDate, Doctors.LastStatusDate, 
Ad.AdminName As CreatedBy

From Doctors

Inner Join CTE_People ON (Doctors.PersonID = CTE_People.PersonID)
Inner Join CTE_AcademicInfo ON (Doctors.DoctorID = CTE_AcademicInfo.DoctorID)
Left Join Admins As Ad ON (Doctors.CreatedByAdminID = Ad.AdminID)
GO
