USE [UMS]
GO
/****** Object:  Table [dbo].[Phones]    Script Date: 5/9/2026 10:24:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phones](
	[PhoneId] [int] NOT NULL,
	[PhoneNumber] [varchar](20) NOT NULL,
	[PersonId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PhoneId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_Phones_PersonId]    Script Date: 5/9/2026 10:24:21 PM ******/
CREATE NONCLUSTERED INDEX [IX_Phones_PersonId] ON [dbo].[Phones]
(
	[PersonId] ASC
)
INCLUDE([PhoneNumber]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Phones]  WITH CHECK ADD FOREIGN KEY([PersonId])
REFERENCES [dbo].[People] ([PersonId])
GO
ALTER TABLE [dbo].[Phones]  WITH CHECK ADD  CONSTRAINT [CK_Phones_PersonId] CHECK  (([PersonId]>(0)))
GO
ALTER TABLE [dbo].[Phones] CHECK CONSTRAINT [CK_Phones_PersonId]
GO
ALTER TABLE [dbo].[Phones]  WITH CHECK ADD  CONSTRAINT [CK_Phones_PhoneNumber] CHECK  ((NOT [PhoneNumber] like '%[^0-9 +-]%'))
GO
ALTER TABLE [dbo].[Phones] CHECK CONSTRAINT [CK_Phones_PhoneNumber]
GO
