USE [UMS]
GO
/****** Object:  Table [dbo].[GraduateStudents]    Script Date: 5/9/2026 10:24:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GraduateStudents](
	[GraduateStudentId] [int] NOT NULL,
	[StudentId] [int] NOT NULL,
	[FinalCumulativeAverage] [decimal](5, 2) NOT NULL,
	[RankId] [int] NOT NULL,
	[GraduationYear] [smallint] NOT NULL,
	[GraduationAnnualSemesterId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[GraduateStudentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_GraduateStudents_Student] UNIQUE NONCLUSTERED 
(
	[StudentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[GraduateStudents]  WITH CHECK ADD FOREIGN KEY([GraduationAnnualSemesterId])
REFERENCES [dbo].[AnnualSemesters] ([AnnualSemesterId])
GO
ALTER TABLE [dbo].[GraduateStudents]  WITH CHECK ADD FOREIGN KEY([RankId])
REFERENCES [dbo].[StudentRanks] ([RankId])
GO
ALTER TABLE [dbo].[GraduateStudents]  WITH CHECK ADD FOREIGN KEY([StudentId])
REFERENCES [dbo].[Students] ([StudentId])
GO
ALTER TABLE [dbo].[GraduateStudents]  WITH CHECK ADD  CONSTRAINT [CK_GraduateStudents_AnnualSemesterId] CHECK  (([GraduationAnnualSemesterId]>(0)))
GO
ALTER TABLE [dbo].[GraduateStudents] CHECK CONSTRAINT [CK_GraduateStudents_AnnualSemesterId]
GO
ALTER TABLE [dbo].[GraduateStudents]  WITH CHECK ADD  CONSTRAINT [CK_GraduateStudents_CumulativeAverage_Range] CHECK  (([FinalCumulativeAverage]>=(60) AND [FinalCumulativeAverage]<=(100)))
GO
ALTER TABLE [dbo].[GraduateStudents] CHECK CONSTRAINT [CK_GraduateStudents_CumulativeAverage_Range]
GO
ALTER TABLE [dbo].[GraduateStudents]  WITH CHECK ADD  CONSTRAINT [CK_GraduateStudents_GraduationYear_Range] CHECK  (([GraduationYear]>(2005) AND [GraduationYear]<(2100)))
GO
ALTER TABLE [dbo].[GraduateStudents] CHECK CONSTRAINT [CK_GraduateStudents_GraduationYear_Range]
GO
ALTER TABLE [dbo].[GraduateStudents]  WITH CHECK ADD  CONSTRAINT [CK_GraduateStudents_RankId] CHECK  (([RankId]>(0)))
GO
ALTER TABLE [dbo].[GraduateStudents] CHECK CONSTRAINT [CK_GraduateStudents_RankId]
GO
ALTER TABLE [dbo].[GraduateStudents]  WITH CHECK ADD  CONSTRAINT [CK_GraduateStudents_StudentId] CHECK  (([StudentId]>(0)))
GO
ALTER TABLE [dbo].[GraduateStudents] CHECK CONSTRAINT [CK_GraduateStudents_StudentId]
GO
