USE [UMS]
GO
/****** Object:  Table [dbo].[StudentRanks]    Script Date: 5/9/2026 10:24:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentRanks](
	[RankId] [int] NOT NULL,
	[RankName] [nvarchar](50) NOT NULL,
	[MinScore] [decimal](5, 2) NOT NULL,
	[MaxScore] [decimal](5, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RankId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Student_RankName] UNIQUE NONCLUSTERED 
(
	[RankName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[StudentRanks]  WITH CHECK ADD  CONSTRAINT [Ck_Rank_MaxScore_Range] CHECK  (([MaxScore]>=(60) AND [MaxScore]<=(100)))
GO
ALTER TABLE [dbo].[StudentRanks] CHECK CONSTRAINT [Ck_Rank_MaxScore_Range]
GO
ALTER TABLE [dbo].[StudentRanks]  WITH CHECK ADD  CONSTRAINT [Ck_Rank_MinScore_Range] CHECK  (([MinScore]>=(60) AND [MinScore]<=(100)))
GO
ALTER TABLE [dbo].[StudentRanks] CHECK CONSTRAINT [Ck_Rank_MinScore_Range]
GO
ALTER TABLE [dbo].[StudentRanks]  WITH CHECK ADD  CONSTRAINT [CK_StudentRanks_ScoreRange] CHECK  (([MinScore]<=[MaxScore]))
GO
ALTER TABLE [dbo].[StudentRanks] CHECK CONSTRAINT [CK_StudentRanks_ScoreRange]
GO
