USE [UMS]
GO
/****** Object:  Table [dbo].[DoctorEvaluations ]    Script Date: 5/9/2026 10:24:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DoctorEvaluations ](
	[RatingId] [int] IDENTITY(1,1) NOT NULL,
	[BranchId] [int] NOT NULL,
	[StudentId] [int] NOT NULL,
	[Score] [tinyint] NOT NULL,
	[Comment] [nvarchar](500) NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[UpdatedAt] [datetime2](0) NULL,
	[UpdatedByUserId] [int] NULL,
	[Status] [tinyint] NOT NULL,
	[LastStatusDate] [datetime2](0) NULL,
PRIMARY KEY CLUSTERED 
(
	[RatingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Branch_Student] UNIQUE NONCLUSTERED 
(
	[StudentId] ASC,
	[BranchId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_DoctorEvaluations_BranchId]    Script Date: 5/9/2026 10:24:21 PM ******/
CREATE NONCLUSTERED INDEX [IX_DoctorEvaluations_BranchId] ON [dbo].[DoctorEvaluations ]
(
	[BranchId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DoctorEvaluations_StudentId]    Script Date: 5/9/2026 10:24:21 PM ******/
CREATE NONCLUSTERED INDEX [IX_DoctorEvaluations_StudentId] ON [dbo].[DoctorEvaluations ]
(
	[StudentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DoctorEvaluations ] ADD  CONSTRAINT [DF_DoctorEvaluations_CreatedAt]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[DoctorEvaluations ]  WITH CHECK ADD  CONSTRAINT [FK_DoctorRating_Users] FOREIGN KEY([UpdatedByUserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[DoctorEvaluations ] CHECK CONSTRAINT [FK_DoctorRating_Users]
GO
ALTER TABLE [dbo].[DoctorEvaluations ]  WITH CHECK ADD  CONSTRAINT [FK_Rating_Branch] FOREIGN KEY([BranchId])
REFERENCES [dbo].[Branches] ([BranchId])
GO
ALTER TABLE [dbo].[DoctorEvaluations ] CHECK CONSTRAINT [FK_Rating_Branch]
GO
ALTER TABLE [dbo].[DoctorEvaluations ]  WITH CHECK ADD  CONSTRAINT [FK_Rating_Student] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Students] ([StudentId])
GO
ALTER TABLE [dbo].[DoctorEvaluations ] CHECK CONSTRAINT [FK_Rating_Student]
GO
ALTER TABLE [dbo].[DoctorEvaluations ]  WITH CHECK ADD  CONSTRAINT [CK_DoctorEvaluations_BranchId] CHECK  (([BranchId]>(0)))
GO
ALTER TABLE [dbo].[DoctorEvaluations ] CHECK CONSTRAINT [CK_DoctorEvaluations_BranchId]
GO
ALTER TABLE [dbo].[DoctorEvaluations ]  WITH CHECK ADD  CONSTRAINT [CK_DoctorEvaluations_Status] CHECK  (([Status]>(0)))
GO
ALTER TABLE [dbo].[DoctorEvaluations ] CHECK CONSTRAINT [CK_DoctorEvaluations_Status]
GO
ALTER TABLE [dbo].[DoctorEvaluations ]  WITH CHECK ADD  CONSTRAINT [CK_DoctorEvaluations_StudentId] CHECK  (([StudentId]>(0)))
GO
ALTER TABLE [dbo].[DoctorEvaluations ] CHECK CONSTRAINT [CK_DoctorEvaluations_StudentId]
GO
ALTER TABLE [dbo].[DoctorEvaluations ]  WITH CHECK ADD  CONSTRAINT [CK_DoctorEvaluations_UpdatedByUserId] CHECK  (([UpdatedByUserId]>(0)))
GO
ALTER TABLE [dbo].[DoctorEvaluations ] CHECK CONSTRAINT [CK_DoctorEvaluations_UpdatedByUserId]
GO
ALTER TABLE [dbo].[DoctorEvaluations ]  WITH CHECK ADD  CONSTRAINT [CK_Score] CHECK  (([Score]>=(1) AND [Score]<=(10)))
GO
ALTER TABLE [dbo].[DoctorEvaluations ] CHECK CONSTRAINT [CK_Score]
GO
