USE [UMS]
GO
/****** Object:  Table [dbo].[Fees]    Script Date: 5/9/2026 10:24:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fees](
	[FeeId] [int] IDENTITY(1,1) NOT NULL,
	[FeeTypeId] [int] NOT NULL,
	[ProgramTypeId] [int] NOT NULL,
	[CollegeId] [int] NULL,
	[DepartmentId] [int] NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[ChargeType] [tinyint] NOT NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[CreatedByUserId] [int] NOT NULL,
	[UpdatedAt] [datetime2](0) NULL,
	[UpdatedByUserId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[FeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_Fees_Active_College]    Script Date: 5/9/2026 10:24:21 PM ******/
CREATE NONCLUSTERED INDEX [IX_Fees_Active_College] ON [dbo].[Fees]
(
	[FeeTypeId] ASC,
	[ProgramTypeId] ASC,
	[CollegeId] ASC
)
INCLUDE([Price]) 
WHERE ([EndDate] IS NULL AND [CollegeId] IS NOT NULL AND [DepartmentId] IS NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Fees_Active_Department]    Script Date: 5/9/2026 10:24:21 PM ******/
CREATE NONCLUSTERED INDEX [IX_Fees_Active_Department] ON [dbo].[Fees]
(
	[FeeTypeId] ASC,
	[ProgramTypeId] ASC,
	[DepartmentId] ASC
)
INCLUDE([Price]) 
WHERE ([EndDate] IS NULL AND [DepartmentId] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Fees_Active_Global]    Script Date: 5/9/2026 10:24:21 PM ******/
CREATE NONCLUSTERED INDEX [IX_Fees_Active_Global] ON [dbo].[Fees]
(
	[FeeTypeId] ASC,
	[ProgramTypeId] ASC
)
INCLUDE([Price]) 
WHERE ([EndDate] IS NULL AND [CollegeId] IS NULL AND [DepartmentId] IS NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Fees] ADD  CONSTRAINT [DF_Fees_CreatedAt]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Fees]  WITH CHECK ADD  CONSTRAINT [FK_Fees_Colleges] FOREIGN KEY([CollegeId])
REFERENCES [dbo].[Colleges] ([CollegeId])
GO
ALTER TABLE [dbo].[Fees] CHECK CONSTRAINT [FK_Fees_Colleges]
GO
ALTER TABLE [dbo].[Fees]  WITH CHECK ADD  CONSTRAINT [FK_Fees_Departments] FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[Departments] ([DepartmentId])
GO
ALTER TABLE [dbo].[Fees] CHECK CONSTRAINT [FK_Fees_Departments]
GO
ALTER TABLE [dbo].[Fees]  WITH CHECK ADD  CONSTRAINT [FK_Fees_FeeTypes] FOREIGN KEY([FeeTypeId])
REFERENCES [dbo].[FeeTypes] ([FeeTypeId])
GO
ALTER TABLE [dbo].[Fees] CHECK CONSTRAINT [FK_Fees_FeeTypes]
GO
ALTER TABLE [dbo].[Fees]  WITH CHECK ADD  CONSTRAINT [FK_Fees_ProgramTypes] FOREIGN KEY([ProgramTypeId])
REFERENCES [dbo].[ProgramTypes] ([ProgramTypeId])
GO
ALTER TABLE [dbo].[Fees] CHECK CONSTRAINT [FK_Fees_ProgramTypes]
GO
ALTER TABLE [dbo].[Fees]  WITH CHECK ADD  CONSTRAINT [FK_Fees_Users_CreatedBy] FOREIGN KEY([CreatedByUserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Fees] CHECK CONSTRAINT [FK_Fees_Users_CreatedBy]
GO
ALTER TABLE [dbo].[Fees]  WITH CHECK ADD  CONSTRAINT [FK_Fees_Users_UpdatedBy] FOREIGN KEY([UpdatedByUserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Fees] CHECK CONSTRAINT [FK_Fees_Users_UpdatedBy]
GO
ALTER TABLE [dbo].[Fees]  WITH CHECK ADD  CONSTRAINT [CK_Fees_ChargeType] CHECK  (([ChargeType]>(0)))
GO
ALTER TABLE [dbo].[Fees] CHECK CONSTRAINT [CK_Fees_ChargeType]
GO
ALTER TABLE [dbo].[Fees]  WITH CHECK ADD  CONSTRAINT [CK_Fees_CollegeId] CHECK  (([CollegeId]>(0)))
GO
ALTER TABLE [dbo].[Fees] CHECK CONSTRAINT [CK_Fees_CollegeId]
GO
ALTER TABLE [dbo].[Fees]  WITH CHECK ADD  CONSTRAINT [CK_Fees_CreatedByUserId] CHECK  (([CreatedByUserId]>(0)))
GO
ALTER TABLE [dbo].[Fees] CHECK CONSTRAINT [CK_Fees_CreatedByUserId]
GO
ALTER TABLE [dbo].[Fees]  WITH CHECK ADD  CONSTRAINT [CK_Fees_Dates] CHECK  (([EndDate] IS NULL OR [StartDate]<=[EndDate]))
GO
ALTER TABLE [dbo].[Fees] CHECK CONSTRAINT [CK_Fees_Dates]
GO
ALTER TABLE [dbo].[Fees]  WITH CHECK ADD  CONSTRAINT [CK_Fees_DepartmentId] CHECK  (([DepartmentId]>(0)))
GO
ALTER TABLE [dbo].[Fees] CHECK CONSTRAINT [CK_Fees_DepartmentId]
GO
ALTER TABLE [dbo].[Fees]  WITH CHECK ADD  CONSTRAINT [CK_Fees_Entity] CHECK  (([CollegeId] IS NOT NULL AND [DepartmentId] IS NULL OR [CollegeId] IS NULL AND [DepartmentId] IS NOT NULL OR [CollegeId] IS NULL AND [DepartmentId] IS NULL))
GO
ALTER TABLE [dbo].[Fees] CHECK CONSTRAINT [CK_Fees_Entity]
GO
ALTER TABLE [dbo].[Fees]  WITH CHECK ADD  CONSTRAINT [CK_Fees_FeeTypeId] CHECK  (([FeeTypeId]>(0)))
GO
ALTER TABLE [dbo].[Fees] CHECK CONSTRAINT [CK_Fees_FeeTypeId]
GO
ALTER TABLE [dbo].[Fees]  WITH CHECK ADD  CONSTRAINT [CK_Fees_Price] CHECK  (([Price]>=(0)))
GO
ALTER TABLE [dbo].[Fees] CHECK CONSTRAINT [CK_Fees_Price]
GO
ALTER TABLE [dbo].[Fees]  WITH CHECK ADD  CONSTRAINT [CK_Fees_ProgramTypeId] CHECK  (([ProgramTypeId]>(0)))
GO
ALTER TABLE [dbo].[Fees] CHECK CONSTRAINT [CK_Fees_ProgramTypeId]
GO
ALTER TABLE [dbo].[Fees]  WITH CHECK ADD  CONSTRAINT [CK_Fees_UpdatedByUserId] CHECK  (([UpdatedByUserId]>(0)))
GO
ALTER TABLE [dbo].[Fees] CHECK CONSTRAINT [CK_Fees_UpdatedByUserId]
GO
