USE [UMS]
GO
/****** Object:  Table [dbo].[ExamSchedules]    Script Date: 5/9/2026 10:24:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExamSchedules](
	[ExamScheduleId] [int] NOT NULL,
	[ExamTypeId] [int] NOT NULL,
	[SemesterMaterialId] [int] NOT NULL,
	[ExamDate] [datetime2](0) NOT NULL,
	[RoomId] [int] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[CreatedByUserId] [int] NOT NULL,
	[UpdatedAt] [datetime2](0) NULL,
	[UpdatedByUserId] [int] NULL,
	[BranchId] [int] NULL,
	[MaxMark] [decimal](5, 2) NOT NULL,
	[DurationMinutes] [smallint] NOT NULL,
	[RetakeExamScheduleId] [int] NULL,
	[Status] [tinyint] NOT NULL,
	[LastStatusDate] [datetime2](0) NULL,
PRIMARY KEY CLUSTERED 
(
	[ExamScheduleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_ExamSchedules_Branch_Date]    Script Date: 5/9/2026 10:24:21 PM ******/
CREATE NONCLUSTERED INDEX [IX_ExamSchedules_Branch_Date] ON [dbo].[ExamSchedules]
(
	[BranchId] ASC,
	[ExamDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ExamSchedules_ExamTypeId]    Script Date: 5/9/2026 10:24:21 PM ******/
CREATE NONCLUSTERED INDEX [IX_ExamSchedules_ExamTypeId] ON [dbo].[ExamSchedules]
(
	[ExamTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ExamSchedules_RetakeExam]    Script Date: 5/9/2026 10:24:21 PM ******/
CREATE NONCLUSTERED INDEX [IX_ExamSchedules_RetakeExam] ON [dbo].[ExamSchedules]
(
	[RetakeExamScheduleId] ASC
)
WHERE ([RetakeExamScheduleId] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ExamSchedules_RoomId]    Script Date: 5/9/2026 10:24:21 PM ******/
CREATE NONCLUSTERED INDEX [IX_ExamSchedules_RoomId] ON [dbo].[ExamSchedules]
(
	[RoomId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ExamSchedules_SemesterMaterialId]    Script Date: 5/9/2026 10:24:21 PM ******/
CREATE NONCLUSTERED INDEX [IX_ExamSchedules_SemesterMaterialId] ON [dbo].[ExamSchedules]
(
	[SemesterMaterialId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ExamSchedules] ADD  CONSTRAINT [DF_ExamSchedules_CreatedAt]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ExamSchedules]  WITH CHECK ADD  CONSTRAINT [FK_ExamSchedules_Branches_BranchId] FOREIGN KEY([BranchId])
REFERENCES [dbo].[Branches] ([BranchId])
GO
ALTER TABLE [dbo].[ExamSchedules] CHECK CONSTRAINT [FK_ExamSchedules_Branches_BranchId]
GO
ALTER TABLE [dbo].[ExamSchedules]  WITH CHECK ADD  CONSTRAINT [FK_ExamSchedules_ExamTypes_ExamTypeId] FOREIGN KEY([ExamTypeId])
REFERENCES [dbo].[ExamTypes] ([ExamTypeId])
GO
ALTER TABLE [dbo].[ExamSchedules] CHECK CONSTRAINT [FK_ExamSchedules_ExamTypes_ExamTypeId]
GO
ALTER TABLE [dbo].[ExamSchedules]  WITH CHECK ADD  CONSTRAINT [FK_ExamSchedules_RetakeExam] FOREIGN KEY([RetakeExamScheduleId])
REFERENCES [dbo].[ExamSchedules] ([ExamScheduleId])
GO
ALTER TABLE [dbo].[ExamSchedules] CHECK CONSTRAINT [FK_ExamSchedules_RetakeExam]
GO
ALTER TABLE [dbo].[ExamSchedules]  WITH CHECK ADD  CONSTRAINT [FK_ExamSchedules_Rooms_RoomId] FOREIGN KEY([RoomId])
REFERENCES [dbo].[Rooms] ([RoomId])
GO
ALTER TABLE [dbo].[ExamSchedules] CHECK CONSTRAINT [FK_ExamSchedules_Rooms_RoomId]
GO
ALTER TABLE [dbo].[ExamSchedules]  WITH CHECK ADD  CONSTRAINT [FK_ExamSchedules_SM_SemesterMaterialId] FOREIGN KEY([SemesterMaterialId])
REFERENCES [dbo].[SemesterMaterials] ([SemesterMaterialId])
GO
ALTER TABLE [dbo].[ExamSchedules] CHECK CONSTRAINT [FK_ExamSchedules_SM_SemesterMaterialId]
GO
ALTER TABLE [dbo].[ExamSchedules]  WITH CHECK ADD  CONSTRAINT [FK_ExamSchedules_Users_CreatedBy] FOREIGN KEY([CreatedByUserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[ExamSchedules] CHECK CONSTRAINT [FK_ExamSchedules_Users_CreatedBy]
GO
ALTER TABLE [dbo].[ExamSchedules]  WITH CHECK ADD  CONSTRAINT [FK_ExamSchedules_Users_UpdatedBy] FOREIGN KEY([UpdatedByUserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[ExamSchedules] CHECK CONSTRAINT [FK_ExamSchedules_Users_UpdatedBy]
GO
ALTER TABLE [dbo].[ExamSchedules]  WITH CHECK ADD  CONSTRAINT [CK_ExamSchedules_BranchId] CHECK  (([BranchId]>(0)))
GO
ALTER TABLE [dbo].[ExamSchedules] CHECK CONSTRAINT [CK_ExamSchedules_BranchId]
GO
ALTER TABLE [dbo].[ExamSchedules]  WITH CHECK ADD  CONSTRAINT [CK_ExamSchedules_CreatedByUserId] CHECK  (([CreatedByUserId]>(0)))
GO
ALTER TABLE [dbo].[ExamSchedules] CHECK CONSTRAINT [CK_ExamSchedules_CreatedByUserId]
GO
ALTER TABLE [dbo].[ExamSchedules]  WITH CHECK ADD  CONSTRAINT [CK_ExamSchedules_ExamTypeId] CHECK  (([ExamTypeId]>(0)))
GO
ALTER TABLE [dbo].[ExamSchedules] CHECK CONSTRAINT [CK_ExamSchedules_ExamTypeId]
GO
ALTER TABLE [dbo].[ExamSchedules]  WITH CHECK ADD  CONSTRAINT [CK_ExamSchedules_MaxMarkRange] CHECK  (([MaxMark]>=(1) AND [MaxMark]<=(100)))
GO
ALTER TABLE [dbo].[ExamSchedules] CHECK CONSTRAINT [CK_ExamSchedules_MaxMarkRange]
GO
ALTER TABLE [dbo].[ExamSchedules]  WITH CHECK ADD  CONSTRAINT [CK_ExamSchedules_RetakeExam] CHECK  (([RetakeExamScheduleId] IS NULL OR [RetakeExamScheduleId]<>[ExamScheduleId]))
GO
ALTER TABLE [dbo].[ExamSchedules] CHECK CONSTRAINT [CK_ExamSchedules_RetakeExam]
GO
ALTER TABLE [dbo].[ExamSchedules]  WITH CHECK ADD  CONSTRAINT [CK_ExamSchedules_RoomId] CHECK  (([RoomId]>(0)))
GO
ALTER TABLE [dbo].[ExamSchedules] CHECK CONSTRAINT [CK_ExamSchedules_RoomId]
GO
ALTER TABLE [dbo].[ExamSchedules]  WITH CHECK ADD  CONSTRAINT [CK_ExamSchedules_SemesterMaterialId] CHECK  (([SemesterMaterialId]>(0)))
GO
ALTER TABLE [dbo].[ExamSchedules] CHECK CONSTRAINT [CK_ExamSchedules_SemesterMaterialId]
GO
ALTER TABLE [dbo].[ExamSchedules]  WITH CHECK ADD  CONSTRAINT [CK_ExamSchedules_Status_Range] CHECK  (([Status]>=(0) AND [Status]<=(5)))
GO
ALTER TABLE [dbo].[ExamSchedules] CHECK CONSTRAINT [CK_ExamSchedules_Status_Range]
GO
ALTER TABLE [dbo].[ExamSchedules]  WITH CHECK ADD  CONSTRAINT [CK_ExamSchedules_UpdatedByUserId] CHECK  (([UpdatedByUserId]>(0)))
GO
ALTER TABLE [dbo].[ExamSchedules] CHECK CONSTRAINT [CK_ExamSchedules_UpdatedByUserId]
GO
