USE [UMS]
GO
/****** Object:  Table [dbo].[Salaries]    Script Date: 5/9/2026 10:24:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Salaries](
	[SalaryId] [int] IDENTITY(1,1) NOT NULL,
	[Amount] [decimal](10, 2) NOT NULL,
	[Currency] [char](3) NOT NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NULL,
	[EmploymentId] [int] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[CreatedByUserId] [int] NOT NULL,
	[UpdatedAt] [datetime2](0) NULL,
	[UpdatedByUserId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[SalaryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_Salaries_Current]    Script Date: 5/9/2026 10:24:21 PM ******/
CREATE NONCLUSTERED INDEX [IX_Salaries_Current] ON [dbo].[Salaries]
(
	[EmploymentId] ASC,
	[StartDate] DESC
)
INCLUDE([Amount],[Currency]) 
WHERE ([EndDate] IS NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Salaries] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Salaries]  WITH CHECK ADD  CONSTRAINT [FK_Salaries_CreatedByUser] FOREIGN KEY([CreatedByUserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Salaries] CHECK CONSTRAINT [FK_Salaries_CreatedByUser]
GO
ALTER TABLE [dbo].[Salaries]  WITH CHECK ADD  CONSTRAINT [FK_Salaries_Employments] FOREIGN KEY([EmploymentId])
REFERENCES [dbo].[Employments] ([EmploymentId])
GO
ALTER TABLE [dbo].[Salaries] CHECK CONSTRAINT [FK_Salaries_Employments]
GO
ALTER TABLE [dbo].[Salaries]  WITH CHECK ADD  CONSTRAINT [FK_Salaries_UpdatedByUser] FOREIGN KEY([UpdatedByUserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Salaries] CHECK CONSTRAINT [FK_Salaries_UpdatedByUser]
GO
ALTER TABLE [dbo].[Salaries]  WITH CHECK ADD  CONSTRAINT [CK_DateRange] CHECK  (([EndDate] IS NULL OR [StartDate]<=[EndDate]))
GO
ALTER TABLE [dbo].[Salaries] CHECK CONSTRAINT [CK_DateRange]
GO
ALTER TABLE [dbo].[Salaries]  WITH CHECK ADD  CONSTRAINT [CK_Salaries_Amount] CHECK  (([Amount]>(0)))
GO
ALTER TABLE [dbo].[Salaries] CHECK CONSTRAINT [CK_Salaries_Amount]
GO
ALTER TABLE [dbo].[Salaries]  WITH CHECK ADD  CONSTRAINT [CK_Salaries_CreatedByUserId] CHECK  (([CreatedByUserId]>(0)))
GO
ALTER TABLE [dbo].[Salaries] CHECK CONSTRAINT [CK_Salaries_CreatedByUserId]
GO
ALTER TABLE [dbo].[Salaries]  WITH CHECK ADD  CONSTRAINT [CK_Salaries_EmploymentId] CHECK  (([EmploymentId]>(0)))
GO
ALTER TABLE [dbo].[Salaries] CHECK CONSTRAINT [CK_Salaries_EmploymentId]
GO
ALTER TABLE [dbo].[Salaries]  WITH CHECK ADD  CONSTRAINT [CK_Salaries_UpdatedByUserId] CHECK  (([UpdatedByUserId]>(0)))
GO
ALTER TABLE [dbo].[Salaries] CHECK CONSTRAINT [CK_Salaries_UpdatedByUserId]
GO
