USE [UMS]
GO
/****** Object:  Table [dbo].[BranchSchedules]    Script Date: 5/9/2026 10:24:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BranchSchedules](
	[ScheduleId] [int] IDENTITY(1,1) NOT NULL,
	[BranchId] [int] NOT NULL,
	[DayOfWeek] [tinyint] NOT NULL,
	[StartTime] [time](0) NOT NULL,
	[EndTime] [time](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ScheduleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_BranchSchedules_BranchDay_TimeRange]    Script Date: 5/9/2026 10:24:21 PM ******/
CREATE NONCLUSTERED INDEX [IX_BranchSchedules_BranchDay_TimeRange] ON [dbo].[BranchSchedules]
(
	[BranchId] ASC,
	[DayOfWeek] ASC
)
INCLUDE([StartTime],[EndTime]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BranchSchedules]  WITH CHECK ADD  CONSTRAINT [FK_BranchSchedules_Branches] FOREIGN KEY([BranchId])
REFERENCES [dbo].[Branches] ([BranchId])
GO
ALTER TABLE [dbo].[BranchSchedules] CHECK CONSTRAINT [FK_BranchSchedules_Branches]
GO
ALTER TABLE [dbo].[BranchSchedules]  WITH CHECK ADD  CONSTRAINT [CK_BranchSchedules_BranchId] CHECK  (([BranchId]>(0)))
GO
ALTER TABLE [dbo].[BranchSchedules] CHECK CONSTRAINT [CK_BranchSchedules_BranchId]
GO
ALTER TABLE [dbo].[BranchSchedules]  WITH CHECK ADD  CONSTRAINT [CK_BranchSchedules_DayOfWeek] CHECK  (([DayOfWeek]>=(1) AND [DayOfWeek]<=(5)))
GO
ALTER TABLE [dbo].[BranchSchedules] CHECK CONSTRAINT [CK_BranchSchedules_DayOfWeek]
GO
ALTER TABLE [dbo].[BranchSchedules]  WITH CHECK ADD  CONSTRAINT [CK_Time] CHECK  (([StartTime]<[EndTime]))
GO
ALTER TABLE [dbo].[BranchSchedules] CHECK CONSTRAINT [CK_Time]
GO
