USE [UMS]
GO
/****** Object:  Table [dbo].[DoctorRanks]    Script Date: 5/9/2026 10:24:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DoctorRanks](
	[RankId] [int] IDENTITY(1,1) NOT NULL,
	[RankName] [nvarchar](100) NOT NULL,
	[MinScore] [decimal](5, 2) NOT NULL,
	[MaxScore] [decimal](5, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RankId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_RankName] UNIQUE NONCLUSTERED 
(
	[RankName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DoctorRanks]  WITH CHECK ADD  CONSTRAINT [CK_Score_Range] CHECK  (([MinScore]<=[MaxScore]))
GO
ALTER TABLE [dbo].[DoctorRanks] CHECK CONSTRAINT [CK_Score_Range]
GO
