USE [UMS]
GO
/****** Object:  Table [dbo].[StudentSemesterSummaries]    Script Date: 5/9/2026 10:24:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentSemesterSummaries](
	[StudentSemesterSummaryId] [int] NOT NULL,
	[StudentId] [int] NOT NULL,
	[SemesterHours] [tinyint] NOT NULL,
	[PassedHours] [tinyint] NOT NULL,
	[SemesterAverage] [decimal](5, 2) NOT NULL,
	[StudentRankId] [int] NOT NULL,
	[AnnualSemesterId] [int] NOT NULL,
	[Year] [smallint] NOT NULL,
	[Status] [tinyint] NOT NULL,
	[LastStatusDate] [datetime2](0) NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[CreatedByUserId] [int] NOT NULL,
	[UpdatedAt] [datetime2](0) NULL,
	[UpdatedByUserId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[StudentSemesterSummaryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_SSS_Semesters]    Script Date: 5/9/2026 10:24:21 PM ******/
CREATE NONCLUSTERED INDEX [IX_SSS_Semesters] ON [dbo].[StudentSemesterSummaries]
(
	[AnnualSemesterId] ASC,
	[Year] ASC
)
INCLUDE([StudentId],[SemesterAverage]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SSS_StudentBySemester]    Script Date: 5/9/2026 10:24:21 PM ******/
CREATE NONCLUSTERED INDEX [IX_SSS_StudentBySemester] ON [dbo].[StudentSemesterSummaries]
(
	[StudentId] ASC,
	[AnnualSemesterId] ASC
)
INCLUDE([SemesterHours],[PassedHours],[SemesterAverage]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[StudentSemesterSummaries] ADD  CONSTRAINT [DF_SSS_CreatedAt]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[StudentSemesterSummaries]  WITH CHECK ADD FOREIGN KEY([AnnualSemesterId])
REFERENCES [dbo].[AnnualSemesters] ([AnnualSemesterId])
GO
ALTER TABLE [dbo].[StudentSemesterSummaries]  WITH CHECK ADD FOREIGN KEY([StudentRankId])
REFERENCES [dbo].[StudentRanks] ([RankId])
GO
ALTER TABLE [dbo].[StudentSemesterSummaries]  WITH CHECK ADD FOREIGN KEY([StudentId])
REFERENCES [dbo].[Students] ([StudentId])
GO
ALTER TABLE [dbo].[StudentSemesterSummaries]  WITH CHECK ADD  CONSTRAINT [FK_StudentSemesterSummaries_Users_CreatedBy] FOREIGN KEY([CreatedByUserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[StudentSemesterSummaries] CHECK CONSTRAINT [FK_StudentSemesterSummaries_Users_CreatedBy]
GO
ALTER TABLE [dbo].[StudentSemesterSummaries]  WITH CHECK ADD  CONSTRAINT [FK_StudentSemesterSummaries_Users_UpdatedBy] FOREIGN KEY([UpdatedByUserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[StudentSemesterSummaries] CHECK CONSTRAINT [FK_StudentSemesterSummaries_Users_UpdatedBy]
GO
ALTER TABLE [dbo].[StudentSemesterSummaries]  WITH CHECK ADD  CONSTRAINT [CK_StudentSemesterSummaries_AnnualSemesterId] CHECK  (([AnnualSemesterId]>(0)))
GO
ALTER TABLE [dbo].[StudentSemesterSummaries] CHECK CONSTRAINT [CK_StudentSemesterSummaries_AnnualSemesterId]
GO
ALTER TABLE [dbo].[StudentSemesterSummaries]  WITH CHECK ADD  CONSTRAINT [CK_StudentSemesterSummaries_CreatedByUserId] CHECK  (([CreatedByUserId]>(0)))
GO
ALTER TABLE [dbo].[StudentSemesterSummaries] CHECK CONSTRAINT [CK_StudentSemesterSummaries_CreatedByUserId]
GO
ALTER TABLE [dbo].[StudentSemesterSummaries]  WITH CHECK ADD  CONSTRAINT [CK_StudentSemesterSummaries_PassedHours] CHECK  (([PassedHours]>=(0) AND [PassedHours]<=(21)))
GO
ALTER TABLE [dbo].[StudentSemesterSummaries] CHECK CONSTRAINT [CK_StudentSemesterSummaries_PassedHours]
GO
ALTER TABLE [dbo].[StudentSemesterSummaries]  WITH CHECK ADD  CONSTRAINT [CK_StudentSemesterSummaries_SemesterAverage] CHECK  (([SemesterAverage]>=(1) AND [SemesterAverage]<=(100)))
GO
ALTER TABLE [dbo].[StudentSemesterSummaries] CHECK CONSTRAINT [CK_StudentSemesterSummaries_SemesterAverage]
GO
ALTER TABLE [dbo].[StudentSemesterSummaries]  WITH CHECK ADD  CONSTRAINT [CK_StudentSemesterSummaries_SemesterHours] CHECK  (([SemesterHours]>=(9) AND [SemesterHours]<=(21)))
GO
ALTER TABLE [dbo].[StudentSemesterSummaries] CHECK CONSTRAINT [CK_StudentSemesterSummaries_SemesterHours]
GO
ALTER TABLE [dbo].[StudentSemesterSummaries]  WITH CHECK ADD  CONSTRAINT [CK_StudentSemesterSummaries_Status] CHECK  (([Status]>(0)))
GO
ALTER TABLE [dbo].[StudentSemesterSummaries] CHECK CONSTRAINT [CK_StudentSemesterSummaries_Status]
GO
ALTER TABLE [dbo].[StudentSemesterSummaries]  WITH CHECK ADD  CONSTRAINT [CK_StudentSemesterSummaries_StudentId] CHECK  (([StudentId]>(0)))
GO
ALTER TABLE [dbo].[StudentSemesterSummaries] CHECK CONSTRAINT [CK_StudentSemesterSummaries_StudentId]
GO
ALTER TABLE [dbo].[StudentSemesterSummaries]  WITH CHECK ADD  CONSTRAINT [CK_StudentSemesterSummaries_StudentRankId] CHECK  (([StudentRankId]>(0)))
GO
ALTER TABLE [dbo].[StudentSemesterSummaries] CHECK CONSTRAINT [CK_StudentSemesterSummaries_StudentRankId]
GO
ALTER TABLE [dbo].[StudentSemesterSummaries]  WITH CHECK ADD  CONSTRAINT [CK_StudentSemesterSummaries_UpdatedByUserId] CHECK  (([UpdatedByUserId]>(0)))
GO
ALTER TABLE [dbo].[StudentSemesterSummaries] CHECK CONSTRAINT [CK_StudentSemesterSummaries_UpdatedByUserId]
GO
ALTER TABLE [dbo].[StudentSemesterSummaries]  WITH CHECK ADD  CONSTRAINT [CK_StudentSemesterSummaries_YearRange] CHECK  (([Year]>=(2005) AND [Year]<=(2100)))
GO
ALTER TABLE [dbo].[StudentSemesterSummaries] CHECK CONSTRAINT [CK_StudentSemesterSummaries_YearRange]
GO
