USE [UMS]
GO
/****** Object:  Table [dbo].[Lectures]    Script Date: 5/9/2026 10:24:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lectures](
	[LectureId] [int] NOT NULL,
	[BranchId] [int] NOT NULL,
	[LectureDateTime] [datetime2](0) NOT NULL,
	[Status] [tinyint] NOT NULL,
	[LastStatusDate] [datetime2](0) NULL,
PRIMARY KEY CLUSTERED 
(
	[LectureId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_Lectures_BranchId]    Script Date: 5/9/2026 10:24:21 PM ******/
CREATE NONCLUSTERED INDEX [IX_Lectures_BranchId] ON [dbo].[Lectures]
(
	[BranchId] ASC
)
INCLUDE([LectureDateTime]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Lectures]  WITH CHECK ADD  CONSTRAINT [FK_Lecture_Branch] FOREIGN KEY([BranchId])
REFERENCES [dbo].[Branches] ([BranchId])
GO
ALTER TABLE [dbo].[Lectures] CHECK CONSTRAINT [FK_Lecture_Branch]
GO
ALTER TABLE [dbo].[Lectures]  WITH CHECK ADD  CONSTRAINT [CK_Lectures_BranchId] CHECK  (([BranchId]>(0)))
GO
ALTER TABLE [dbo].[Lectures] CHECK CONSTRAINT [CK_Lectures_BranchId]
GO
ALTER TABLE [dbo].[Lectures]  WITH CHECK ADD  CONSTRAINT [CK_Lectures_Status_Range] CHECK  (([Status]>=(0) AND [Status]<=(5)))
GO
ALTER TABLE [dbo].[Lectures] CHECK CONSTRAINT [CK_Lectures_Status_Range]
GO
