USE [UMS]
GO
/****** Object:  Table [dbo].[People]    Script Date: 5/9/2026 10:24:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[People](
	[PersonId] [int] NOT NULL,
	[NationalNo] [varchar](20) NOT NULL,
	[FirstName] [nvarchar](15) NOT NULL,
	[SecondName] [nvarchar](15) NULL,
	[ThirdName] [nvarchar](15) NULL,
	[LastName] [nvarchar](15) NOT NULL,
	[DateOfBirth] [date] NOT NULL,
	[Gendor] [tinyint] NOT NULL,
	[Email] [varchar](50) NULL,
	[NationalityCountryId] [int] NOT NULL,
	[ImagePath] [nvarchar](250) NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[UpdatedAt] [datetime2](0) NULL,
	[CreatedByUserId] [int] NOT NULL,
	[UpdatedByUserId] [int] NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PersonId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_NationalNo] UNIQUE NONCLUSTERED 
(
	[NationalNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_People_Email]    Script Date: 5/9/2026 10:24:21 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_People_Email] ON [dbo].[People]
(
	[Email] ASC
)
WHERE ([Email] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[People] ADD  CONSTRAINT [DF_People_CreatedAt]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[People] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[People]  WITH CHECK ADD FOREIGN KEY([NationalityCountryId])
REFERENCES [dbo].[Countries] ([CountryId])
GO
ALTER TABLE [dbo].[People]  WITH CHECK ADD  CONSTRAINT [FK_People_Users_CreatedBy] FOREIGN KEY([CreatedByUserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[People] CHECK CONSTRAINT [FK_People_Users_CreatedBy]
GO
ALTER TABLE [dbo].[People]  WITH CHECK ADD  CONSTRAINT [FK_People_Users_UpdatedBy] FOREIGN KEY([UpdatedByUserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[People] CHECK CONSTRAINT [FK_People_Users_UpdatedBy]
GO
ALTER TABLE [dbo].[People]  WITH CHECK ADD  CONSTRAINT [CHK_Gendor] CHECK  (([Gendor]>=(0) AND [Gendor]<=(1)))
GO
ALTER TABLE [dbo].[People] CHECK CONSTRAINT [CHK_Gendor]
GO
ALTER TABLE [dbo].[People]  WITH CHECK ADD  CONSTRAINT [CK_People_CreatedByUserId] CHECK  (([CreatedByUserId]>(0)))
GO
ALTER TABLE [dbo].[People] CHECK CONSTRAINT [CK_People_CreatedByUserId]
GO
ALTER TABLE [dbo].[People]  WITH CHECK ADD  CONSTRAINT [CK_People_NationalityCountryId] CHECK  (([NationalityCountryId]>(0)))
GO
ALTER TABLE [dbo].[People] CHECK CONSTRAINT [CK_People_NationalityCountryId]
GO
ALTER TABLE [dbo].[People]  WITH CHECK ADD  CONSTRAINT [CK_People_UpdatedByUserId] CHECK  (([UpdatedByUserId]>(0)))
GO
ALTER TABLE [dbo].[People] CHECK CONSTRAINT [CK_People_UpdatedByUserId]
GO
