USE [UMS]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 5/9/2026 10:24:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[StudentId] [int] NOT NULL,
	[PersonId] [int] NOT NULL,
	[RegistrationApplicationId] [int] NOT NULL,
	[Status] [tinyint] NOT NULL,
	[CumulativeAverage] [decimal](5, 2) NULL,
	[CreatedByUserId] [int] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[UpdatedAt] [datetime2](0) NULL,
	[UpdatedByUserId] [int] NULL,
	[LastStatusDate] [datetime2](0) NULL,
PRIMARY KEY CLUSTERED 
(
	[StudentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Students_RegistrationAppId] UNIQUE NONCLUSTERED 
(
	[RegistrationApplicationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_Students_PersonId]    Script Date: 5/9/2026 10:24:21 PM ******/
CREATE NONCLUSTERED INDEX [IX_Students_PersonId] ON [dbo].[Students]
(
	[PersonId] ASC
)
INCLUDE([RegistrationApplicationId],[CumulativeAverage],[Status]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Students] ADD  CONSTRAINT [DF_Students_CreatedAt]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD FOREIGN KEY([PersonId])
REFERENCES [dbo].[People] ([PersonId])
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD FOREIGN KEY([RegistrationApplicationId])
REFERENCES [dbo].[RegistrationApplications] ([RegistrationApplicationId])
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD  CONSTRAINT [FK_Students_Users_CreatedBy] FOREIGN KEY([CreatedByUserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Students] CHECK CONSTRAINT [FK_Students_Users_CreatedBy]
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD  CONSTRAINT [FK_Students_Users_UpdatedBy] FOREIGN KEY([UpdatedByUserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Students] CHECK CONSTRAINT [FK_Students_Users_UpdatedBy]
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD  CONSTRAINT [CK_Students_CreatedByUserId] CHECK  (([CreatedByUserId]>(0)))
GO
ALTER TABLE [dbo].[Students] CHECK CONSTRAINT [CK_Students_CreatedByUserId]
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD  CONSTRAINT [CK_Students_Cumulative_Avg] CHECK  (([CumulativeAverage]>=(1) AND [CumulativeAverage]<=(100)))
GO
ALTER TABLE [dbo].[Students] CHECK CONSTRAINT [CK_Students_Cumulative_Avg]
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD  CONSTRAINT [CK_Students_PersonId] CHECK  (([PersonId]>(0)))
GO
ALTER TABLE [dbo].[Students] CHECK CONSTRAINT [CK_Students_PersonId]
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD  CONSTRAINT [CK_Students_RegistrationAppId] CHECK  (([RegistrationApplicationId]>(0)))
GO
ALTER TABLE [dbo].[Students] CHECK CONSTRAINT [CK_Students_RegistrationAppId]
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD  CONSTRAINT [CK_Students_Status] CHECK  (([Status]>(0)))
GO
ALTER TABLE [dbo].[Students] CHECK CONSTRAINT [CK_Students_Status]
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD  CONSTRAINT [CK_Students_UpdatedByUserId] CHECK  (([UpdatedByUserId]>(0)))
GO
ALTER TABLE [dbo].[Students] CHECK CONSTRAINT [CK_Students_UpdatedByUserId]
GO
