USE [UMS]
GO
/****** Object:  Table [dbo].[Employments]    Script Date: 5/9/2026 10:24:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employments](
	[EmploymentId] [int] IDENTITY(1,1) NOT NULL,
	[PersonId] [int] NOT NULL,
	[JobRoleId] [int] NOT NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[CreatedByUserId] [int] NOT NULL,
	[UpdatedAt] [datetime2](0) NULL,
	[UpdatedByUserId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[EmploymentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_Employments_ActiveEmployees]    Script Date: 5/9/2026 10:24:21 PM ******/
CREATE NONCLUSTERED INDEX [IX_Employments_ActiveEmployees] ON [dbo].[Employments]
(
	[PersonId] ASC
)
WHERE ([EndDate] IS NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Employments_JobRoleId]    Script Date: 5/9/2026 10:24:21 PM ******/
CREATE NONCLUSTERED INDEX [IX_Employments_JobRoleId] ON [dbo].[Employments]
(
	[JobRoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Employments_PersonId]    Script Date: 5/9/2026 10:24:21 PM ******/
CREATE NONCLUSTERED INDEX [IX_Employments_PersonId] ON [dbo].[Employments]
(
	[PersonId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Employments] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Employments]  WITH CHECK ADD  CONSTRAINT [FK_Employments_CreatedByUser] FOREIGN KEY([CreatedByUserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Employments] CHECK CONSTRAINT [FK_Employments_CreatedByUser]
GO
ALTER TABLE [dbo].[Employments]  WITH CHECK ADD  CONSTRAINT [FK_Employments_JobRoles] FOREIGN KEY([JobRoleId])
REFERENCES [dbo].[JobRoles] ([JobRoleId])
GO
ALTER TABLE [dbo].[Employments] CHECK CONSTRAINT [FK_Employments_JobRoles]
GO
ALTER TABLE [dbo].[Employments]  WITH CHECK ADD  CONSTRAINT [FK_Employments_People] FOREIGN KEY([PersonId])
REFERENCES [dbo].[People] ([PersonId])
GO
ALTER TABLE [dbo].[Employments] CHECK CONSTRAINT [FK_Employments_People]
GO
ALTER TABLE [dbo].[Employments]  WITH CHECK ADD  CONSTRAINT [FK_Employments_UpdatedByUser] FOREIGN KEY([UpdatedByUserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Employments] CHECK CONSTRAINT [FK_Employments_UpdatedByUser]
GO
ALTER TABLE [dbo].[Employments]  WITH CHECK ADD  CONSTRAINT [CK_EmploymentDates] CHECK  (([EndDate] IS NULL OR [StartDate]<=[EndDate]))
GO
ALTER TABLE [dbo].[Employments] CHECK CONSTRAINT [CK_EmploymentDates]
GO
ALTER TABLE [dbo].[Employments]  WITH CHECK ADD  CONSTRAINT [CK_Employments_CreatedByUserId] CHECK  (([CreatedByUserId]>(0)))
GO
ALTER TABLE [dbo].[Employments] CHECK CONSTRAINT [CK_Employments_CreatedByUserId]
GO
ALTER TABLE [dbo].[Employments]  WITH CHECK ADD  CONSTRAINT [CK_Employments_JobRoleId] CHECK  (([JobRoleId]>(0)))
GO
ALTER TABLE [dbo].[Employments] CHECK CONSTRAINT [CK_Employments_JobRoleId]
GO
ALTER TABLE [dbo].[Employments]  WITH CHECK ADD  CONSTRAINT [CK_Employments_PersonId] CHECK  (([PersonId]>(0)))
GO
ALTER TABLE [dbo].[Employments] CHECK CONSTRAINT [CK_Employments_PersonId]
GO
ALTER TABLE [dbo].[Employments]  WITH CHECK ADD  CONSTRAINT [CK_Employments_UpdatedByUserId] CHECK  (([UpdatedByUserId]>(0)))
GO
ALTER TABLE [dbo].[Employments] CHECK CONSTRAINT [CK_Employments_UpdatedByUserId]
GO
