USE [UMS]
GO
/****** Object:  Table [dbo].[PostponementStudyApplications]    Script Date: 5/9/2026 10:24:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PostponementStudyApplications](
	[PostponementApplicationId] [int] NOT NULL,
	[ApplicationId] [int] NOT NULL,
	[StudentId] [int] NOT NULL,
	[StartAnnualSemesterId] [int] NOT NULL,
	[EndAnnualSemesterId] [int] NULL,
	[RequestedSemesters] [tinyint] NOT NULL,
	[Reason] [nvarchar](500) NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[CreatedByUserId] [int] NOT NULL,
	[UpdatedAt] [datetime2](0) NULL,
	[UpdatedByUserId] [int] NULL,
	[StartAcademicYear] [smallint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PostponementApplicationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_ApplicationId] UNIQUE NONCLUSTERED 
(
	[ApplicationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_PostponementApplications_Student_Year]    Script Date: 5/9/2026 10:24:21 PM ******/
CREATE NONCLUSTERED INDEX [IX_PostponementApplications_Student_Year] ON [dbo].[PostponementStudyApplications]
(
	[StudentId] ASC,
	[StartAcademicYear] ASC
)
INCLUDE([StartAnnualSemesterId],[EndAnnualSemesterId]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PostponementApplications_Year]    Script Date: 5/9/2026 10:24:21 PM ******/
CREATE NONCLUSTERED INDEX [IX_PostponementApplications_Year] ON [dbo].[PostponementStudyApplications]
(
	[StartAcademicYear] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PostponementStudyApplications] ADD  CONSTRAINT [DF_PostponementApplications_CreatedAt]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[PostponementStudyApplications]  WITH CHECK ADD FOREIGN KEY([ApplicationId])
REFERENCES [dbo].[Applications] ([ApplicationId])
GO
ALTER TABLE [dbo].[PostponementStudyApplications]  WITH CHECK ADD FOREIGN KEY([StudentId])
REFERENCES [dbo].[Students] ([StudentId])
GO
ALTER TABLE [dbo].[PostponementStudyApplications]  WITH CHECK ADD  CONSTRAINT [FK_EndAnnualSemesterID] FOREIGN KEY([EndAnnualSemesterId])
REFERENCES [dbo].[AnnualSemesters] ([AnnualSemesterId])
GO
ALTER TABLE [dbo].[PostponementStudyApplications] CHECK CONSTRAINT [FK_EndAnnualSemesterID]
GO
ALTER TABLE [dbo].[PostponementStudyApplications]  WITH CHECK ADD  CONSTRAINT [FK_PostponementApplications_Users_CreatedBy] FOREIGN KEY([CreatedByUserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[PostponementStudyApplications] CHECK CONSTRAINT [FK_PostponementApplications_Users_CreatedBy]
GO
ALTER TABLE [dbo].[PostponementStudyApplications]  WITH CHECK ADD  CONSTRAINT [FK_PostponementApplications_Users_UpdatedBy] FOREIGN KEY([UpdatedByUserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[PostponementStudyApplications] CHECK CONSTRAINT [FK_PostponementApplications_Users_UpdatedBy]
GO
ALTER TABLE [dbo].[PostponementStudyApplications]  WITH CHECK ADD  CONSTRAINT [FK_StartAnnualSemesterID] FOREIGN KEY([StartAnnualSemesterId])
REFERENCES [dbo].[AnnualSemesters] ([AnnualSemesterId])
GO
ALTER TABLE [dbo].[PostponementStudyApplications] CHECK CONSTRAINT [FK_StartAnnualSemesterID]
GO
ALTER TABLE [dbo].[PostponementStudyApplications]  WITH CHECK ADD  CONSTRAINT [CK_PostponementApplications_ApplicationId] CHECK  (([ApplicationId]>(0)))
GO
ALTER TABLE [dbo].[PostponementStudyApplications] CHECK CONSTRAINT [CK_PostponementApplications_ApplicationId]
GO
ALTER TABLE [dbo].[PostponementStudyApplications]  WITH CHECK ADD  CONSTRAINT [CK_PostponementApplications_CreatedByUserId] CHECK  (([CreatedByUserId]>(0)))
GO
ALTER TABLE [dbo].[PostponementStudyApplications] CHECK CONSTRAINT [CK_PostponementApplications_CreatedByUserId]
GO
ALTER TABLE [dbo].[PostponementStudyApplications]  WITH CHECK ADD  CONSTRAINT [CK_PostponementApplications_EndAnnualSemesterId] CHECK  (([EndAnnualSemesterId]>(0)))
GO
ALTER TABLE [dbo].[PostponementStudyApplications] CHECK CONSTRAINT [CK_PostponementApplications_EndAnnualSemesterId]
GO
ALTER TABLE [dbo].[PostponementStudyApplications]  WITH CHECK ADD  CONSTRAINT [CK_PostponementApplications_RequestedSemesters] CHECK  (([RequestedSemesters]>=(1) AND [RequestedSemesters]<=(4)))
GO
ALTER TABLE [dbo].[PostponementStudyApplications] CHECK CONSTRAINT [CK_PostponementApplications_RequestedSemesters]
GO
ALTER TABLE [dbo].[PostponementStudyApplications]  WITH CHECK ADD  CONSTRAINT [CK_PostponementApplications_StartAnnualSemesterId] CHECK  (([StartAnnualSemesterId]>(0)))
GO
ALTER TABLE [dbo].[PostponementStudyApplications] CHECK CONSTRAINT [CK_PostponementApplications_StartAnnualSemesterId]
GO
ALTER TABLE [dbo].[PostponementStudyApplications]  WITH CHECK ADD  CONSTRAINT [CK_PostponementApplications_StudentId] CHECK  (([StudentId]>(0)))
GO
ALTER TABLE [dbo].[PostponementStudyApplications] CHECK CONSTRAINT [CK_PostponementApplications_StudentId]
GO
ALTER TABLE [dbo].[PostponementStudyApplications]  WITH CHECK ADD  CONSTRAINT [CK_PostponementApplications_UpdatedByUserId] CHECK  (([UpdatedByUserId]>(0)))
GO
ALTER TABLE [dbo].[PostponementStudyApplications] CHECK CONSTRAINT [CK_PostponementApplications_UpdatedByUserId]
GO
