USE [UMS]
GO
/****** Object:  Table [dbo].[RegistrationApplications]    Script Date: 5/9/2026 10:24:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RegistrationApplications](
	[RegistrationApplicationId] [int] NOT NULL,
	[ApplicationId] [int] NOT NULL,
	[CollegeId] [int] NOT NULL,
	[DepartmentId] [int] NOT NULL,
	[ProgramTypeId] [int] NOT NULL,
	[RegistrationDate] [datetime2](0) NOT NULL,
	[RegistrationApplicationTypeId] [int] NOT NULL,
	[CreatedByUserId] [int] NOT NULL,
	[UpdatedAt] [datetime2](0) NULL,
	[UpdatedByUserId] [int] NULL,
	[Status] [tinyint] NOT NULL,
	[LastStatusDate] [datetime2](0) NULL,
PRIMARY KEY CLUSTERED 
(
	[RegistrationApplicationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_AppId] UNIQUE NONCLUSTERED 
(
	[ApplicationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_RegApps_CollegeId]    Script Date: 5/9/2026 10:24:21 PM ******/
CREATE NONCLUSTERED INDEX [IX_RegApps_CollegeId] ON [dbo].[RegistrationApplications]
(
	[CollegeId] ASC
)
INCLUDE([ProgramTypeId],[RegistrationApplicationTypeId]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RegApps_DepartmentId]    Script Date: 5/9/2026 10:24:21 PM ******/
CREATE NONCLUSTERED INDEX [IX_RegApps_DepartmentId] ON [dbo].[RegistrationApplications]
(
	[DepartmentId] ASC
)
INCLUDE([ProgramTypeId],[RegistrationApplicationTypeId]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RegApps_Status_Date]    Script Date: 5/9/2026 10:24:21 PM ******/
CREATE NONCLUSTERED INDEX [IX_RegApps_Status_Date] ON [dbo].[RegistrationApplications]
(
	[RegistrationDate] ASC
)
INCLUDE([ApplicationId],[CollegeId],[DepartmentId],[ProgramTypeId]) 
WHERE ([Status]=(1))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[RegistrationApplications] ADD  CONSTRAINT [DF_RegistrationStudentApps_RegistrationDate]  DEFAULT (sysdatetime()) FOR [RegistrationDate]
GO
ALTER TABLE [dbo].[RegistrationApplications] ADD  CONSTRAINT [DF_RegistrationStudentApps_StatusValue]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[RegistrationApplications]  WITH CHECK ADD FOREIGN KEY([ApplicationId])
REFERENCES [dbo].[Applications] ([ApplicationId])
GO
ALTER TABLE [dbo].[RegistrationApplications]  WITH CHECK ADD FOREIGN KEY([CollegeId])
REFERENCES [dbo].[Colleges] ([CollegeId])
GO
ALTER TABLE [dbo].[RegistrationApplications]  WITH CHECK ADD FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[Departments] ([DepartmentId])
GO
ALTER TABLE [dbo].[RegistrationApplications]  WITH CHECK ADD FOREIGN KEY([ProgramTypeId])
REFERENCES [dbo].[ProgramTypes] ([ProgramTypeId])
GO
ALTER TABLE [dbo].[RegistrationApplications]  WITH CHECK ADD FOREIGN KEY([RegistrationApplicationTypeId])
REFERENCES [dbo].[RegistrationApplicationTypes] ([RegistrationTypeId])
GO
ALTER TABLE [dbo].[RegistrationApplications]  WITH CHECK ADD  CONSTRAINT [FK_RegistrationStudentApps_Users_CreatedBy] FOREIGN KEY([CreatedByUserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[RegistrationApplications] CHECK CONSTRAINT [FK_RegistrationStudentApps_Users_CreatedBy]
GO
ALTER TABLE [dbo].[RegistrationApplications]  WITH CHECK ADD  CONSTRAINT [FK_RegistrationStudentApps_Users_UpdatedBy] FOREIGN KEY([UpdatedByUserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[RegistrationApplications] CHECK CONSTRAINT [FK_RegistrationStudentApps_Users_UpdatedBy]
GO
ALTER TABLE [dbo].[RegistrationApplications]  WITH CHECK ADD  CONSTRAINT [CK_RegistrationStudentApps_AppId] CHECK  (([ApplicationId]>(0)))
GO
ALTER TABLE [dbo].[RegistrationApplications] CHECK CONSTRAINT [CK_RegistrationStudentApps_AppId]
GO
ALTER TABLE [dbo].[RegistrationApplications]  WITH CHECK ADD  CONSTRAINT [CK_RegistrationStudentApps_CollegeId] CHECK  (([CollegeId]>(0)))
GO
ALTER TABLE [dbo].[RegistrationApplications] CHECK CONSTRAINT [CK_RegistrationStudentApps_CollegeId]
GO
ALTER TABLE [dbo].[RegistrationApplications]  WITH CHECK ADD  CONSTRAINT [CK_RegistrationStudentApps_CreatedByUserId] CHECK  (([CreatedByUserId]>(0)))
GO
ALTER TABLE [dbo].[RegistrationApplications] CHECK CONSTRAINT [CK_RegistrationStudentApps_CreatedByUserId]
GO
ALTER TABLE [dbo].[RegistrationApplications]  WITH CHECK ADD  CONSTRAINT [CK_RegistrationStudentApps_DepartmentId] CHECK  (([DepartmentId]>(0)))
GO
ALTER TABLE [dbo].[RegistrationApplications] CHECK CONSTRAINT [CK_RegistrationStudentApps_DepartmentId]
GO
ALTER TABLE [dbo].[RegistrationApplications]  WITH CHECK ADD  CONSTRAINT [CK_RegistrationStudentApps_ProgramTypeId] CHECK  (([ProgramTypeId]>(0)))
GO
ALTER TABLE [dbo].[RegistrationApplications] CHECK CONSTRAINT [CK_RegistrationStudentApps_ProgramTypeId]
GO
ALTER TABLE [dbo].[RegistrationApplications]  WITH CHECK ADD  CONSTRAINT [CK_RegistrationStudentApps_RegistrationAppTypeId] CHECK  (([RegistrationApplicationTypeId]>(0)))
GO
ALTER TABLE [dbo].[RegistrationApplications] CHECK CONSTRAINT [CK_RegistrationStudentApps_RegistrationAppTypeId]
GO
ALTER TABLE [dbo].[RegistrationApplications]  WITH CHECK ADD  CONSTRAINT [CK_RegistrationStudentApps_Status] CHECK  (([Status]>(0)))
GO
ALTER TABLE [dbo].[RegistrationApplications] CHECK CONSTRAINT [CK_RegistrationStudentApps_Status]
GO
ALTER TABLE [dbo].[RegistrationApplications]  WITH CHECK ADD  CONSTRAINT [CK_RegistrationStudentApps_UpdatedByUserId] CHECK  (([UpdatedByUserId]>(0)))
GO
ALTER TABLE [dbo].[RegistrationApplications] CHECK CONSTRAINT [CK_RegistrationStudentApps_UpdatedByUserId]
GO
