USE [UMS]
GO
/****** Object:  Table [dbo].[Doctors]    Script Date: 5/9/2026 10:24:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Doctors](
	[DoctorId] [int] NOT NULL,
	[PersonId] [int] NOT NULL,
	[CollegeId] [int] NOT NULL,
	[DepartmentId] [int] NOT NULL,
	[Status] [tinyint] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[CreatedByUserId] [int] NOT NULL,
	[RankId] [int] NOT NULL,
	[UpdatedAt] [datetime2](0) NULL,
	[UpdatedByUserId] [int] NULL,
	[CurrentScore] [decimal](5, 2) NULL,
	[SpecializationId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DoctorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_Doctors_CollegeId]    Script Date: 5/9/2026 10:24:21 PM ******/
CREATE NONCLUSTERED INDEX [IX_Doctors_CollegeId] ON [dbo].[Doctors]
(
	[CollegeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Doctors_DepartmentId]    Script Date: 5/9/2026 10:24:21 PM ******/
CREATE NONCLUSTERED INDEX [IX_Doctors_DepartmentId] ON [dbo].[Doctors]
(
	[DepartmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Doctors_PersonId]    Script Date: 5/9/2026 10:24:21 PM ******/
CREATE NONCLUSTERED INDEX [IX_Doctors_PersonId] ON [dbo].[Doctors]
(
	[PersonId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Doctors_RankId]    Script Date: 5/9/2026 10:24:21 PM ******/
CREATE NONCLUSTERED INDEX [IX_Doctors_RankId] ON [dbo].[Doctors]
(
	[RankId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Doctors_SpecializationId]    Script Date: 5/9/2026 10:24:21 PM ******/
CREATE NONCLUSTERED INDEX [IX_Doctors_SpecializationId] ON [dbo].[Doctors]
(
	[SpecializationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Doctors] ADD  CONSTRAINT [DF_Doctors_CreatedAt]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Doctors]  WITH CHECK ADD FOREIGN KEY([CollegeId])
REFERENCES [dbo].[Colleges] ([CollegeId])
GO
ALTER TABLE [dbo].[Doctors]  WITH CHECK ADD FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[Departments] ([DepartmentId])
GO
ALTER TABLE [dbo].[Doctors]  WITH CHECK ADD FOREIGN KEY([PersonId])
REFERENCES [dbo].[People] ([PersonId])
GO
ALTER TABLE [dbo].[Doctors]  WITH CHECK ADD  CONSTRAINT [FK_Doctors_CreatedByUserID] FOREIGN KEY([CreatedByUserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Doctors] CHECK CONSTRAINT [FK_Doctors_CreatedByUserID]
GO
ALTER TABLE [dbo].[Doctors]  WITH CHECK ADD  CONSTRAINT [FK_Doctors_DoctorRanks] FOREIGN KEY([RankId])
REFERENCES [dbo].[DoctorRanks] ([RankId])
GO
ALTER TABLE [dbo].[Doctors] CHECK CONSTRAINT [FK_Doctors_DoctorRanks]
GO
ALTER TABLE [dbo].[Doctors]  WITH CHECK ADD  CONSTRAINT [FK_Doctors_Specializations] FOREIGN KEY([SpecializationId])
REFERENCES [dbo].[Specializations] ([SpecializationId])
GO
ALTER TABLE [dbo].[Doctors] CHECK CONSTRAINT [FK_Doctors_Specializations]
GO
ALTER TABLE [dbo].[Doctors]  WITH CHECK ADD  CONSTRAINT [FK_Doctors_UpdatedByUserId] FOREIGN KEY([UpdatedByUserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Doctors] CHECK CONSTRAINT [FK_Doctors_UpdatedByUserId]
GO
ALTER TABLE [dbo].[Doctors]  WITH CHECK ADD  CONSTRAINT [CK_Doctors_CollegeId] CHECK  (([CollegeId]>(0)))
GO
ALTER TABLE [dbo].[Doctors] CHECK CONSTRAINT [CK_Doctors_CollegeId]
GO
ALTER TABLE [dbo].[Doctors]  WITH CHECK ADD  CONSTRAINT [CK_Doctors_CreatedByUserId] CHECK  (([CreatedByUserId]>(0)))
GO
ALTER TABLE [dbo].[Doctors] CHECK CONSTRAINT [CK_Doctors_CreatedByUserId]
GO
ALTER TABLE [dbo].[Doctors]  WITH CHECK ADD  CONSTRAINT [CK_Doctors_DepartmentId] CHECK  (([DepartmentId]>(0)))
GO
ALTER TABLE [dbo].[Doctors] CHECK CONSTRAINT [CK_Doctors_DepartmentId]
GO
ALTER TABLE [dbo].[Doctors]  WITH CHECK ADD  CONSTRAINT [CK_Doctors_PersonId] CHECK  (([PersonId]>(0)))
GO
ALTER TABLE [dbo].[Doctors] CHECK CONSTRAINT [CK_Doctors_PersonId]
GO
ALTER TABLE [dbo].[Doctors]  WITH CHECK ADD  CONSTRAINT [CK_Doctors_RankId] CHECK  (([RankId]>(0)))
GO
ALTER TABLE [dbo].[Doctors] CHECK CONSTRAINT [CK_Doctors_RankId]
GO
ALTER TABLE [dbo].[Doctors]  WITH CHECK ADD  CONSTRAINT [CK_Doctors_ScoreRange] CHECK  (([CurrentScore]>=(1) AND [CurrentScore]<=(100)))
GO
ALTER TABLE [dbo].[Doctors] CHECK CONSTRAINT [CK_Doctors_ScoreRange]
GO
ALTER TABLE [dbo].[Doctors]  WITH CHECK ADD  CONSTRAINT [CK_Doctors_SpecializationId] CHECK  (([SpecializationId]>(0)))
GO
ALTER TABLE [dbo].[Doctors] CHECK CONSTRAINT [CK_Doctors_SpecializationId]
GO
ALTER TABLE [dbo].[Doctors]  WITH CHECK ADD  CONSTRAINT [CK_Doctors_StatusRange] CHECK  (([Status]>=(0) AND [Status]<=(5)))
GO
ALTER TABLE [dbo].[Doctors] CHECK CONSTRAINT [CK_Doctors_StatusRange]
GO
ALTER TABLE [dbo].[Doctors]  WITH CHECK ADD  CONSTRAINT [CK_Doctors_UpdatedByUserId] CHECK  (([UpdatedByUserId]>(0)))
GO
ALTER TABLE [dbo].[Doctors] CHECK CONSTRAINT [CK_Doctors_UpdatedByUserId]
GO
