USE [UMS]
GO
/****** Object:  Table [dbo].[StudentSemesterMaterials]    Script Date: 5/9/2026 10:24:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentSemesterMaterials](
	[StudentSemesterMaterialId] [int] NOT NULL,
	[SemesterMaterialId] [int] NOT NULL,
	[StudentId] [int] NOT NULL,
	[RegistrationDate] [datetime2](0) NOT NULL,
	[Status] [tinyint] NOT NULL,
	[TotalMark] [decimal](5, 2) NULL,
	[LastStatusDate] [datetime2](0) NULL,
	[CreatedByUserId] [int] NOT NULL,
	[UpdatedAt] [datetime2](0) NULL,
	[UpdatedByUserId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[StudentSemesterMaterialId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_SSM_SemesterMaterial_Active]    Script Date: 5/9/2026 10:24:21 PM ******/
CREATE NONCLUSTERED INDEX [IX_SSM_SemesterMaterial_Active] ON [dbo].[StudentSemesterMaterials]
(
	[SemesterMaterialId] ASC
)
WHERE ([Status]=(1))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SSM_SemesterMaterialId]    Script Date: 5/9/2026 10:24:21 PM ******/
CREATE NONCLUSTERED INDEX [IX_SSM_SemesterMaterialId] ON [dbo].[StudentSemesterMaterials]
(
	[SemesterMaterialId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_SSM_Student_SemesterMaterial]    Script Date: 5/9/2026 10:24:21 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_SSM_Student_SemesterMaterial] ON [dbo].[StudentSemesterMaterials]
(
	[StudentId] ASC,
	[SemesterMaterialId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[StudentSemesterMaterials] ADD  CONSTRAINT [DF_SSM_RegistrationDate]  DEFAULT (sysdatetime()) FOR [RegistrationDate]
GO
ALTER TABLE [dbo].[StudentSemesterMaterials]  WITH CHECK ADD FOREIGN KEY([SemesterMaterialId])
REFERENCES [dbo].[SemesterMaterials] ([SemesterMaterialId])
GO
ALTER TABLE [dbo].[StudentSemesterMaterials]  WITH CHECK ADD FOREIGN KEY([StudentId])
REFERENCES [dbo].[Students] ([StudentId])
GO
ALTER TABLE [dbo].[StudentSemesterMaterials]  WITH CHECK ADD  CONSTRAINT [FK_StudentSemesterMaterials_Users_CreatedBy] FOREIGN KEY([CreatedByUserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[StudentSemesterMaterials] CHECK CONSTRAINT [FK_StudentSemesterMaterials_Users_CreatedBy]
GO
ALTER TABLE [dbo].[StudentSemesterMaterials]  WITH CHECK ADD  CONSTRAINT [FK_StudentSemesterMaterials_Users_UpdatedBy] FOREIGN KEY([UpdatedByUserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[StudentSemesterMaterials] CHECK CONSTRAINT [FK_StudentSemesterMaterials_Users_UpdatedBy]
GO
ALTER TABLE [dbo].[StudentSemesterMaterials]  WITH CHECK ADD  CONSTRAINT [CK_StudentSemesterMaterials_CreatedByUserId] CHECK  (([CreatedByUserId]>(0)))
GO
ALTER TABLE [dbo].[StudentSemesterMaterials] CHECK CONSTRAINT [CK_StudentSemesterMaterials_CreatedByUserId]
GO
ALTER TABLE [dbo].[StudentSemesterMaterials]  WITH CHECK ADD  CONSTRAINT [CK_StudentSemesterMaterials_SemesterMaterialId] CHECK  (([SemesterMaterialId]>(0)))
GO
ALTER TABLE [dbo].[StudentSemesterMaterials] CHECK CONSTRAINT [CK_StudentSemesterMaterials_SemesterMaterialId]
GO
ALTER TABLE [dbo].[StudentSemesterMaterials]  WITH CHECK ADD  CONSTRAINT [CK_StudentSemesterMaterials_Status] CHECK  (([Status]>(0)))
GO
ALTER TABLE [dbo].[StudentSemesterMaterials] CHECK CONSTRAINT [CK_StudentSemesterMaterials_Status]
GO
ALTER TABLE [dbo].[StudentSemesterMaterials]  WITH CHECK ADD  CONSTRAINT [CK_StudentSemesterMaterials_StudentId] CHECK  (([StudentId]>(0)))
GO
ALTER TABLE [dbo].[StudentSemesterMaterials] CHECK CONSTRAINT [CK_StudentSemesterMaterials_StudentId]
GO
ALTER TABLE [dbo].[StudentSemesterMaterials]  WITH CHECK ADD  CONSTRAINT [CK_StudentSemesterMaterials_TotalMark] CHECK  (([TotalMark]>=(1) AND [TotalMark]<=(100)))
GO
ALTER TABLE [dbo].[StudentSemesterMaterials] CHECK CONSTRAINT [CK_StudentSemesterMaterials_TotalMark]
GO
ALTER TABLE [dbo].[StudentSemesterMaterials]  WITH CHECK ADD  CONSTRAINT [CK_StudentSemesterMaterials_UpdatedByUserId] CHECK  (([UpdatedByUserId]>(0)))
GO
ALTER TABLE [dbo].[StudentSemesterMaterials] CHECK CONSTRAINT [CK_StudentSemesterMaterials_UpdatedByUserId]
GO
