USE [UMS]
GO
/****** Object:  Table [dbo].[LectureAttendance]    Script Date: 5/9/2026 10:24:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LectureAttendance](
	[LectureId] [int] NOT NULL,
	[StudentId] [int] NOT NULL,
	[AttendanceStatus] [tinyint] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[CreatedByUserId] [int] NOT NULL,
	[UpdatedAt] [datetime2](0) NULL,
	[UpdatedByUserID] [int] NULL,
 CONSTRAINT [PK_LectureAttendance] PRIMARY KEY CLUSTERED 
(
	[LectureId] ASC,
	[StudentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_LectureAttendance_StudentId]    Script Date: 5/9/2026 10:24:21 PM ******/
CREATE NONCLUSTERED INDEX [IX_LectureAttendance_StudentId] ON [dbo].[LectureAttendance]
(
	[StudentId] ASC
)
INCLUDE([AttendanceStatus]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LectureAttendance] ADD  CONSTRAINT [DF_LectureAttendance_CreatedAt]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[LectureAttendance]  WITH CHECK ADD  CONSTRAINT [FK_Attendance_Lecture] FOREIGN KEY([LectureId])
REFERENCES [dbo].[Lectures] ([LectureId])
GO
ALTER TABLE [dbo].[LectureAttendance] CHECK CONSTRAINT [FK_Attendance_Lecture]
GO
ALTER TABLE [dbo].[LectureAttendance]  WITH CHECK ADD  CONSTRAINT [FK_Attendance_Student] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Students] ([StudentId])
GO
ALTER TABLE [dbo].[LectureAttendance] CHECK CONSTRAINT [FK_Attendance_Student]
GO
ALTER TABLE [dbo].[LectureAttendance]  WITH CHECK ADD  CONSTRAINT [FK_LectureAttendance_Users_CreatedBy] FOREIGN KEY([CreatedByUserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[LectureAttendance] CHECK CONSTRAINT [FK_LectureAttendance_Users_CreatedBy]
GO
ALTER TABLE [dbo].[LectureAttendance]  WITH CHECK ADD  CONSTRAINT [FK_LectureAttendance_Users_UpdatedBy] FOREIGN KEY([UpdatedByUserID])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[LectureAttendance] CHECK CONSTRAINT [FK_LectureAttendance_Users_UpdatedBy]
GO
ALTER TABLE [dbo].[LectureAttendance]  WITH CHECK ADD  CONSTRAINT [CK_LectureAttendance_CreatedByUserId] CHECK  (([CreatedByUserId]>(0)))
GO
ALTER TABLE [dbo].[LectureAttendance] CHECK CONSTRAINT [CK_LectureAttendance_CreatedByUserId]
GO
ALTER TABLE [dbo].[LectureAttendance]  WITH CHECK ADD  CONSTRAINT [CK_LectureAttendance_Status] CHECK  (([AttendanceStatus]>(0)))
GO
ALTER TABLE [dbo].[LectureAttendance] CHECK CONSTRAINT [CK_LectureAttendance_Status]
GO
ALTER TABLE [dbo].[LectureAttendance]  WITH CHECK ADD  CONSTRAINT [CK_LectureAttendance_StudentId] CHECK  (([StudentId]>(0)))
GO
ALTER TABLE [dbo].[LectureAttendance] CHECK CONSTRAINT [CK_LectureAttendance_StudentId]
GO
ALTER TABLE [dbo].[LectureAttendance]  WITH CHECK ADD  CONSTRAINT [CK_LectureAttendance_UpdatedByUserId] CHECK  (([UpdatedByUserId]>(0)))
GO
ALTER TABLE [dbo].[LectureAttendance] CHECK CONSTRAINT [CK_LectureAttendance_UpdatedByUserId]
GO
