USE [UMS]
GO
/****** Object:  Table [dbo].[SemesterMaterials]    Script Date: 5/9/2026 10:24:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SemesterMaterials](
	[SemesterMaterialId] [int] NOT NULL,
	[CourseId] [int] NOT NULL,
	[AnnualSemesterId] [int] NOT NULL,
	[Year] [smallint] NOT NULL,
	[Status] [tinyint] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[CreatedByUserId] [int] NOT NULL,
	[UpdatedAt] [datetime2](0) NULL,
	[UpdatedByUserId] [int] NULL,
	[LastStatusDate] [datetime2](0) NULL,
PRIMARY KEY CLUSTERED 
(
	[SemesterMaterialId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_SM_Active_Course_Semester]    Script Date: 5/9/2026 10:24:21 PM ******/
CREATE NONCLUSTERED INDEX [IX_SM_Active_Course_Semester] ON [dbo].[SemesterMaterials]
(
	[CourseId] ASC,
	[AnnualSemesterId] ASC
)
INCLUDE([Year]) 
WHERE ([Status]=(1))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SM_AnnualSemesterId]    Script Date: 5/9/2026 10:24:21 PM ******/
CREATE NONCLUSTERED INDEX [IX_SM_AnnualSemesterId] ON [dbo].[SemesterMaterials]
(
	[AnnualSemesterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SM_CourseId]    Script Date: 5/9/2026 10:24:21 PM ******/
CREATE NONCLUSTERED INDEX [IX_SM_CourseId] ON [dbo].[SemesterMaterials]
(
	[CourseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SemesterMaterials] ADD  CONSTRAINT [DF_Salaries_CreatedAt]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[SemesterMaterials]  WITH CHECK ADD FOREIGN KEY([AnnualSemesterId])
REFERENCES [dbo].[AnnualSemesters] ([AnnualSemesterId])
GO
ALTER TABLE [dbo].[SemesterMaterials]  WITH CHECK ADD FOREIGN KEY([CourseId])
REFERENCES [dbo].[Courses] ([CourseId])
GO
ALTER TABLE [dbo].[SemesterMaterials]  WITH CHECK ADD  CONSTRAINT [FK_SemesterMaterials_Users_CreatedBy] FOREIGN KEY([CreatedByUserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[SemesterMaterials] CHECK CONSTRAINT [FK_SemesterMaterials_Users_CreatedBy]
GO
ALTER TABLE [dbo].[SemesterMaterials]  WITH CHECK ADD  CONSTRAINT [FK_SemesterMaterials_Users_UpdatedBy] FOREIGN KEY([UpdatedByUserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[SemesterMaterials] CHECK CONSTRAINT [FK_SemesterMaterials_Users_UpdatedBy]
GO
ALTER TABLE [dbo].[SemesterMaterials]  WITH CHECK ADD  CONSTRAINT [CK_SemesterMaterials_AnnualSemesterId] CHECK  (([AnnualSemesterId]>(0)))
GO
ALTER TABLE [dbo].[SemesterMaterials] CHECK CONSTRAINT [CK_SemesterMaterials_AnnualSemesterId]
GO
ALTER TABLE [dbo].[SemesterMaterials]  WITH CHECK ADD  CONSTRAINT [CK_SemesterMaterials_CourseId] CHECK  (([CourseId]>(0)))
GO
ALTER TABLE [dbo].[SemesterMaterials] CHECK CONSTRAINT [CK_SemesterMaterials_CourseId]
GO
ALTER TABLE [dbo].[SemesterMaterials]  WITH CHECK ADD  CONSTRAINT [CK_SemesterMaterials_CreatedByUserId] CHECK  (([CreatedByUserId]>(0)))
GO
ALTER TABLE [dbo].[SemesterMaterials] CHECK CONSTRAINT [CK_SemesterMaterials_CreatedByUserId]
GO
ALTER TABLE [dbo].[SemesterMaterials]  WITH CHECK ADD  CONSTRAINT [CK_SemesterMaterials_Status] CHECK  (([Status]>(0)))
GO
ALTER TABLE [dbo].[SemesterMaterials] CHECK CONSTRAINT [CK_SemesterMaterials_Status]
GO
ALTER TABLE [dbo].[SemesterMaterials]  WITH CHECK ADD  CONSTRAINT [CK_SemesterMaterials_UpdatedByUserId] CHECK  (([UpdatedByUserId]>(0)))
GO
ALTER TABLE [dbo].[SemesterMaterials] CHECK CONSTRAINT [CK_SemesterMaterials_UpdatedByUserId]
GO
ALTER TABLE [dbo].[SemesterMaterials]  WITH CHECK ADD  CONSTRAINT [CK_SemesterMaterials_Year_Range] CHECK  (([Year]>=(2005) AND [Year]<=(2100)))
GO
ALTER TABLE [dbo].[SemesterMaterials] CHECK CONSTRAINT [CK_SemesterMaterials_Year_Range]
GO
