USE [UMS]
GO
/****** Object:  Table [dbo].[StudentFinancialTransactions]    Script Date: 5/9/2026 10:24:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentFinancialTransactions](
	[TransactionId] [int] IDENTITY(1,1) NOT NULL,
	[StudentId] [int] NOT NULL,
	[TransactionTypeId] [int] NOT NULL,
	[Amount] [decimal](10, 2) NOT NULL,
	[Notes] [nvarchar](255) NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[CreatedByUserId] [int] NOT NULL,
	[UpdatedAt] [datetime2](0) NULL,
	[UpdatedByUserId] [int] NULL,
	[FeeTypeId] [int] NULL,
	[ApplicationId] [int] NULL,
	[AnnualSemesterId] [int] NOT NULL,
	[AcademicYear] [smallint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TransactionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_StudentTransactions_Applications]    Script Date: 5/9/2026 10:24:21 PM ******/
CREATE NONCLUSTERED INDEX [IX_StudentTransactions_Applications] ON [dbo].[StudentFinancialTransactions]
(
	[StudentId] ASC,
	[ApplicationId] ASC
)
INCLUDE([Amount]) 
WHERE ([ApplicationId] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_StudentTransactions_Fees]    Script Date: 5/9/2026 10:24:21 PM ******/
CREATE NONCLUSTERED INDEX [IX_StudentTransactions_Fees] ON [dbo].[StudentFinancialTransactions]
(
	[StudentId] ASC,
	[FeeTypeId] ASC
)
INCLUDE([Amount]) 
WHERE ([FeeTypeId] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_StudentTransactions_StudentId]    Script Date: 5/9/2026 10:24:21 PM ******/
CREATE NONCLUSTERED INDEX [IX_StudentTransactions_StudentId] ON [dbo].[StudentFinancialTransactions]
(
	[StudentId] ASC
)
INCLUDE([Amount],[AnnualSemesterId],[TransactionTypeId]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[StudentFinancialTransactions] ADD  CONSTRAINT [DF_StudentTransactions_CreatedAt]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[StudentFinancialTransactions]  WITH CHECK ADD  CONSTRAINT [FK_AnnualSemesterId] FOREIGN KEY([AnnualSemesterId])
REFERENCES [dbo].[AnnualSemesters] ([AnnualSemesterId])
GO
ALTER TABLE [dbo].[StudentFinancialTransactions] CHECK CONSTRAINT [FK_AnnualSemesterId]
GO
ALTER TABLE [dbo].[StudentFinancialTransactions]  WITH CHECK ADD  CONSTRAINT [FK_AppId] FOREIGN KEY([ApplicationId])
REFERENCES [dbo].[Applications] ([ApplicationId])
GO
ALTER TABLE [dbo].[StudentFinancialTransactions] CHECK CONSTRAINT [FK_AppId]
GO
ALTER TABLE [dbo].[StudentFinancialTransactions]  WITH CHECK ADD  CONSTRAINT [FK_FeeTypeId] FOREIGN KEY([FeeTypeId])
REFERENCES [dbo].[FeeTypes] ([FeeTypeId])
GO
ALTER TABLE [dbo].[StudentFinancialTransactions] CHECK CONSTRAINT [FK_FeeTypeId]
GO
ALTER TABLE [dbo].[StudentFinancialTransactions]  WITH CHECK ADD  CONSTRAINT [FK_StudentTransactions_Students] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Students] ([StudentId])
GO
ALTER TABLE [dbo].[StudentFinancialTransactions] CHECK CONSTRAINT [FK_StudentTransactions_Students]
GO
ALTER TABLE [dbo].[StudentFinancialTransactions]  WITH CHECK ADD  CONSTRAINT [FK_StudentTransactions_Types] FOREIGN KEY([TransactionTypeId])
REFERENCES [dbo].[TransactionTypes] ([TransactionTypeId])
GO
ALTER TABLE [dbo].[StudentFinancialTransactions] CHECK CONSTRAINT [FK_StudentTransactions_Types]
GO
ALTER TABLE [dbo].[StudentFinancialTransactions]  WITH CHECK ADD  CONSTRAINT [FK_StudentTransactions_Users_CreatedBy] FOREIGN KEY([CreatedByUserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[StudentFinancialTransactions] CHECK CONSTRAINT [FK_StudentTransactions_Users_CreatedBy]
GO
ALTER TABLE [dbo].[StudentFinancialTransactions]  WITH CHECK ADD  CONSTRAINT [FK_StudentTransactions_Users_UpdatedBy] FOREIGN KEY([UpdatedByUserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[StudentFinancialTransactions] CHECK CONSTRAINT [FK_StudentTransactions_Users_UpdatedBy]
GO
ALTER TABLE [dbo].[StudentFinancialTransactions]  WITH CHECK ADD  CONSTRAINT [CK_Amount] CHECK  (([Amount]<>(0)))
GO
ALTER TABLE [dbo].[StudentFinancialTransactions] CHECK CONSTRAINT [CK_Amount]
GO
ALTER TABLE [dbo].[StudentFinancialTransactions]  WITH CHECK ADD  CONSTRAINT [CK_StudentTransactions_AnnualSemesterId] CHECK  (([AnnualSemesterId]>(0)))
GO
ALTER TABLE [dbo].[StudentFinancialTransactions] CHECK CONSTRAINT [CK_StudentTransactions_AnnualSemesterId]
GO
ALTER TABLE [dbo].[StudentFinancialTransactions]  WITH CHECK ADD  CONSTRAINT [CK_StudentTransactions_AppId] CHECK  (([ApplicationId]>(0)))
GO
ALTER TABLE [dbo].[StudentFinancialTransactions] CHECK CONSTRAINT [CK_StudentTransactions_AppId]
GO
ALTER TABLE [dbo].[StudentFinancialTransactions]  WITH CHECK ADD  CONSTRAINT [CK_StudentTransactions_CreatedByUserId] CHECK  (([CreatedByUserId]>(0)))
GO
ALTER TABLE [dbo].[StudentFinancialTransactions] CHECK CONSTRAINT [CK_StudentTransactions_CreatedByUserId]
GO
ALTER TABLE [dbo].[StudentFinancialTransactions]  WITH CHECK ADD  CONSTRAINT [CK_StudentTransactions_FeeTypeId] CHECK  (([FeeTypeId]>(0)))
GO
ALTER TABLE [dbo].[StudentFinancialTransactions] CHECK CONSTRAINT [CK_StudentTransactions_FeeTypeId]
GO
ALTER TABLE [dbo].[StudentFinancialTransactions]  WITH CHECK ADD  CONSTRAINT [CK_StudentTransactions_StudentId] CHECK  (([StudentId]>(0)))
GO
ALTER TABLE [dbo].[StudentFinancialTransactions] CHECK CONSTRAINT [CK_StudentTransactions_StudentId]
GO
ALTER TABLE [dbo].[StudentFinancialTransactions]  WITH CHECK ADD  CONSTRAINT [CK_StudentTransactions_TransactionTypeId] CHECK  (([TransactionTypeId]>(0)))
GO
ALTER TABLE [dbo].[StudentFinancialTransactions] CHECK CONSTRAINT [CK_StudentTransactions_TransactionTypeId]
GO
ALTER TABLE [dbo].[StudentFinancialTransactions]  WITH CHECK ADD  CONSTRAINT [CK_StudentTransactions_UpdatedByUserId] CHECK  (([UpdatedByUserId]>(0)))
GO
ALTER TABLE [dbo].[StudentFinancialTransactions] CHECK CONSTRAINT [CK_StudentTransactions_UpdatedByUserId]
GO
ALTER TABLE [dbo].[StudentFinancialTransactions]  WITH CHECK ADD  CONSTRAINT [CK_StudentTransactions_YearRange] CHECK  (([AcademicYear]>=(2005) AND [AcademicYear]<=(2100)))
GO
ALTER TABLE [dbo].[StudentFinancialTransactions] CHECK CONSTRAINT [CK_StudentTransactions_YearRange]
GO
