USE [UMS]
GO
/****** Object:  Table [dbo].[Applications]    Script Date: 5/9/2026 10:24:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Applications](
	[ApplicationId] [int] NOT NULL,
	[ApplicantPersonId] [int] NOT NULL,
	[ApplicationTypeId] [int] NOT NULL,
	[Status] [tinyint] NOT NULL,
	[ApplicationDate] [datetime2](0) NOT NULL,
	[CreatedByUserId] [int] NOT NULL,
	[LastStatusDate] [datetime2](0) NULL,
	[UpdatedAt] [datetime2](0) NULL,
	[UpdatedByUserId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ApplicationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_Applications_ApplicantPersonId]    Script Date: 5/9/2026 10:24:21 PM ******/
CREATE NONCLUSTERED INDEX [IX_Applications_ApplicantPersonId] ON [dbo].[Applications]
(
	[ApplicantPersonId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Applications_ApplicationTypeId]    Script Date: 5/9/2026 10:24:21 PM ******/
CREATE NONCLUSTERED INDEX [IX_Applications_ApplicationTypeId] ON [dbo].[Applications]
(
	[ApplicationTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Applications_CreatedBy_Date]    Script Date: 5/9/2026 10:24:21 PM ******/
CREATE NONCLUSTERED INDEX [IX_Applications_CreatedBy_Date] ON [dbo].[Applications]
(
	[CreatedByUserId] ASC,
	[ApplicationDate] ASC
)
INCLUDE([Status]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Applications] ADD  CONSTRAINT [DF_Applications_AppDate]  DEFAULT (sysdatetime()) FOR [ApplicationDate]
GO
ALTER TABLE [dbo].[Applications]  WITH CHECK ADD FOREIGN KEY([ApplicantPersonId])
REFERENCES [dbo].[People] ([PersonId])
GO
ALTER TABLE [dbo].[Applications]  WITH CHECK ADD FOREIGN KEY([ApplicationTypeId])
REFERENCES [dbo].[ApplicationTypes] ([ApplicationTypeId])
GO
ALTER TABLE [dbo].[Applications]  WITH CHECK ADD  CONSTRAINT [FK_Applications_Users_CreatedBy] FOREIGN KEY([CreatedByUserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Applications] CHECK CONSTRAINT [FK_Applications_Users_CreatedBy]
GO
ALTER TABLE [dbo].[Applications]  WITH CHECK ADD  CONSTRAINT [FK_Applications_Users_UpdatedBy] FOREIGN KEY([UpdatedByUserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Applications] CHECK CONSTRAINT [FK_Applications_Users_UpdatedBy]
GO
ALTER TABLE [dbo].[Applications]  WITH CHECK ADD  CONSTRAINT [CK_Applications_AppTypeId] CHECK  (([ApplicationTypeId]>(0)))
GO
ALTER TABLE [dbo].[Applications] CHECK CONSTRAINT [CK_Applications_AppTypeId]
GO
ALTER TABLE [dbo].[Applications]  WITH CHECK ADD  CONSTRAINT [CK_Applications_CreatedByUserId] CHECK  (([CreatedByUserId]>(0)))
GO
ALTER TABLE [dbo].[Applications] CHECK CONSTRAINT [CK_Applications_CreatedByUserId]
GO
ALTER TABLE [dbo].[Applications]  WITH CHECK ADD  CONSTRAINT [CK_Applications_PersonId] CHECK  (([ApplicantPersonId]>(0)))
GO
ALTER TABLE [dbo].[Applications] CHECK CONSTRAINT [CK_Applications_PersonId]
GO
ALTER TABLE [dbo].[Applications]  WITH CHECK ADD  CONSTRAINT [CK_Applications_Status] CHECK  (([Status]>(0)))
GO
ALTER TABLE [dbo].[Applications] CHECK CONSTRAINT [CK_Applications_Status]
GO
ALTER TABLE [dbo].[Applications]  WITH CHECK ADD  CONSTRAINT [CK_Applications_UpdatedByUserId] CHECK  (([UpdatedByUserId]>(0)))
GO
ALTER TABLE [dbo].[Applications] CHECK CONSTRAINT [CK_Applications_UpdatedByUserId]
GO
