USE [UMS]
GO
/****** Object:  Table [dbo].[ExamResults]    Script Date: 5/9/2026 10:24:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExamResults](
	[ExamResultId] [int] NOT NULL,
	[ExamScheduleId] [int] NOT NULL,
	[StudentId] [int] NOT NULL,
	[StudentMark ] [decimal](5, 2) NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[CreatedByUserId] [int] NOT NULL,
	[UpdatedAt] [datetime2](0) NULL,
	[UpdatedByUserId] [int] NULL,
	[Status ] [tinyint] NOT NULL,
	[LastStatusDate] [datetime2](0) NULL,
 CONSTRAINT [PK__ExamResults] PRIMARY KEY CLUSTERED 
(
	[ExamResultId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_ExamResults_Student]    Script Date: 5/9/2026 10:24:21 PM ******/
CREATE NONCLUSTERED INDEX [IX_ExamResults_Student] ON [dbo].[ExamResults]
(
	[StudentId] ASC
)
INCLUDE([StudentMark ],[ExamScheduleId]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_ExamResults_Exam_Student]    Script Date: 5/9/2026 10:24:21 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_ExamResults_Exam_Student] ON [dbo].[ExamResults]
(
	[ExamScheduleId] ASC,
	[StudentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ExamResults] ADD  CONSTRAINT [DF_ExamResults_CreatedAt]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ExamResults]  WITH CHECK ADD  CONSTRAINT [FK_ExamResults_ExamSchedules_Id] FOREIGN KEY([ExamScheduleId])
REFERENCES [dbo].[ExamSchedules] ([ExamScheduleId])
GO
ALTER TABLE [dbo].[ExamResults] CHECK CONSTRAINT [FK_ExamResults_ExamSchedules_Id]
GO
ALTER TABLE [dbo].[ExamResults]  WITH CHECK ADD  CONSTRAINT [FK_ExamResults_Students_StudentId] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Students] ([StudentId])
GO
ALTER TABLE [dbo].[ExamResults] CHECK CONSTRAINT [FK_ExamResults_Students_StudentId]
GO
ALTER TABLE [dbo].[ExamResults]  WITH CHECK ADD  CONSTRAINT [FK_ExamResults_Users_CreatedBy] FOREIGN KEY([CreatedByUserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[ExamResults] CHECK CONSTRAINT [FK_ExamResults_Users_CreatedBy]
GO
ALTER TABLE [dbo].[ExamResults]  WITH CHECK ADD  CONSTRAINT [FK_ExamResults_Users_UpdatedBy] FOREIGN KEY([UpdatedByUserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[ExamResults] CHECK CONSTRAINT [FK_ExamResults_Users_UpdatedBy]
GO
ALTER TABLE [dbo].[ExamResults]  WITH CHECK ADD  CONSTRAINT [CK_ExamResults_CreatedByUserId] CHECK  (([CreatedByUserId]>(0)))
GO
ALTER TABLE [dbo].[ExamResults] CHECK CONSTRAINT [CK_ExamResults_CreatedByUserId]
GO
ALTER TABLE [dbo].[ExamResults]  WITH CHECK ADD  CONSTRAINT [CK_ExamResults_ExamScheduleId] CHECK  (([ExamScheduleId]>(0)))
GO
ALTER TABLE [dbo].[ExamResults] CHECK CONSTRAINT [CK_ExamResults_ExamScheduleId]
GO
ALTER TABLE [dbo].[ExamResults]  WITH CHECK ADD  CONSTRAINT [CK_ExamResults_Status_Range] CHECK  (([Status]>=(0) AND [Status]<=(5)))
GO
ALTER TABLE [dbo].[ExamResults] CHECK CONSTRAINT [CK_ExamResults_Status_Range]
GO
ALTER TABLE [dbo].[ExamResults]  WITH CHECK ADD  CONSTRAINT [CK_ExamResults_StudentId] CHECK  (([StudentId]>(0)))
GO
ALTER TABLE [dbo].[ExamResults] CHECK CONSTRAINT [CK_ExamResults_StudentId]
GO
ALTER TABLE [dbo].[ExamResults]  WITH CHECK ADD  CONSTRAINT [CK_ExamResults_StudentMark] CHECK  (([StudentMark]>=(1) AND [StudentMark]<=(100)))
GO
ALTER TABLE [dbo].[ExamResults] CHECK CONSTRAINT [CK_ExamResults_StudentMark]
GO
ALTER TABLE [dbo].[ExamResults]  WITH CHECK ADD  CONSTRAINT [CK_ExamResults_UpdatedByUserId] CHECK  (([UpdatedByUserId]>(0)))
GO
ALTER TABLE [dbo].[ExamResults] CHECK CONSTRAINT [CK_ExamResults_UpdatedByUserId]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExamResults', @level2type=N'COLUMN',@level2name=N'Status '
GO
